/* LANDING PAGE */

/* hero section */
.mobile-landing-page-hero-img-container {
    position: relative;
}
.mobile-landing-page-hero-img-container > img {
    width: 100%;
    height: auto;
    display: block;
}

.mobile-landing-page-hero-img-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.300)
}

.hero-text-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-content: start;
    gap: 1.5rem;
    text-wrap: pretty;
    padding: 2rem 0;
    padding-top: 2rem;
}

.hero-header {
    color: var(--green-10);
    max-width: 500px;
    font-size: clamp(2.3rem, 1dvw + 1.5rem, 3rem);
}

.hero-text-body {
    letter-spacing: 0.05rem;
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--black-30);
    max-width: 400px;
    text-wrap: pretty;
}

.hero-text-body > strong {
    color: var(--green-30)
}

.find-your-dream-job-btn {
    font-weight: 500;
    color: var(--black-90);
    font-size: 1.1rem;
    justify-self: start;
    padding: 1.1rem 2rem;
    border-radius: 30px;
    background: var(--cta);
    transition: background 200ms linear;
}

@media (hover) {
    .find-your-dream-job-btn:hover {
        background: var(--green-20);
    }
}


@media screen and (min-width: 700px) {
    .hero-content-container {
        position: initial;
        min-height: 80dvh;
        background: linear-gradient(to top, 
            rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.7)),
            url('../imgs/hero.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-content: start;
    }

    .mobile-landing-page-hero-img-container {
        display: none;
    }

    .hero-text-container {
        text-align: start;
        max-width: 1400px;
        margin: 0 auto;
        padding-top: 6rem
    }

    .hero-header {
        color: white;
        font-size: 3rem;
        max-width: 500px;
    }
    
    .hero-text-body {
        color: var(--black-80);
        font-size: 1.2rem;
        line-height: 1.5;
        max-width: 550px;
    }

    .hero-text-body > strong {
        color: var(--green-35)
    }
    
    .find-your-dream-job-btn {
        margin-top: 1.5rem;
        justify-self: start;
    }
}
/* end */

/* landing page content */
.landing-page-candidates-section-container {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 3.5rem;
    padding: 2rem 0
}

.landing-page-candidates-section:nth-child(even) {
    padding: 3.5rem 0;
    background: var(--black-95);
}

@media screen and (min-width: 900px) {
    .landing-page-candidates-section-container {
        gap: 7rem;
        padding: 3rem 0;
        padding-bottom: 6rem;
    }

    .landing-page-candidates-section:nth-child(even) {
        padding: 7rem 0;
        background: var(--black-95);
    }
}

.langing-page-candidates-content-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
}

.langing-page-candidates-content-header-container {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1rem;
}

.landing-page-candidates-contents-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.5rem);
    color: var(--black-10);
    text-wrap: pretty;
}

.landing-page-candidates-contents-header-text {
    color: var(--black-30);
    letter-spacing: 0.04rem;
    line-height: 1.4;
    text-wrap: pretty;
    max-width: 500px;
    font-size: clamp(1rem, 1dvw + 0.5rem, 1.1rem);
}

.langing-page-candidates-contents {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.landing-page-candidates-content {
    display: grid;
    row-gap: 0.8rem;
    align-content: start;
    align-items: start;
    border-radius: 25px;
    padding: 1.2rem;
    background: var(--accent);
}

.landing-page-candidates-content-image-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.lanidng-page-candidates-content-image {
    width: 40px;
    display: flex;
    align-items: end;
}

.lanidng-page-candidates-content-image > img {
    width: 40px;
    aspect-ratio: 1/1;
    display: block;
}

.landing-page-candidates-content-header {
    color: var(--black-10);
    text-wrap: pretty;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.35rem);
    line-height: 1.2;
    font-weight: 700;
}

.landing-page-candidates-content-body {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-15);
    text-wrap: pretty;
}

.landing-page-candidates-content-cta-btn {
    font-weight: 500;
    color: var(--black-90);
    font-size: 1.1rem;
    justify-self: start;
    padding: 1.1rem 2rem;
    border-radius: 30px;
    background: var(--cta);
    transition: background 200ms linear;
}

@media (hover) {
    .landing-page-candidates-content-cta-btn:hover {
        background: var(--green-20);
    }
}

@media screen and (min-width: 600px) {
    .langing-page-candidates-contents {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .langing-page-candidates-contents {
        display: grid;
        align-content: start;
        gap: 1.5rem;
    }
}

.landing-page-candidates-how-it-works-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
}

.landing-page-candidates-how-it-works-header-container {
    display: grid;
    align-items: start;
    gap: 1rem;
}

.landing-page-candidates-how-it-works-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.5rem);
    color: var(--black-10);
    text-wrap: pretty;
}

.landing-page-candidates-how-it-works-text {
    color: var(--black-15);
    letter-spacing: 0.04rem;
    line-height: 1.4;
    text-wrap: pretty;
    max-width: 550px;
    font-size: clamp(1rem, 1dvw + 0.5rem, 1.1rem);
}

.landing-page-candidates-how-it-works-steps {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.landing-page-candidates-how-it-works-step {
    display: grid;
    row-gap: 0.8rem;
    align-content: start;
    align-items: start;
    border-radius: 25px;
    padding: 1.2rem;
    background: white;
}

.landing-page-candidates-how-works-image-container {
    width: 40px;
}

.landing-page-candidates-how-works-image-container > img {
    width: 40px;
    aspect-ratio: 1/1;
    height: auto;
    display: block;
}

.landing-page-candidates-how-it-works-step-header {
    color: var(--black-15);
    text-wrap: pretty;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.35rem);
    line-height: 1.3;
    font-weight: 700;
}

.landing-page-candidates-how-it-works-step-text {
    color: var(--black-20);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    text-wrap: pretty
}

.landing-page-candidates-how-it-works-cta-btn {
    font-weight: 500;
    color: var(--black-90);
    font-size: 1.1rem;
    justify-self: start;
    padding: 1.1rem 2rem;
    border-radius: 30px;
    background: var(--cta);
    transition: background 200ms linear;
}

@media (hover) {
    .landing-page-candidates-how-it-works-cta-btn:hover {
        background: var(--green-20);
    }
}

@media screen and (min-width: 650px) {
    .landing-page-candidates-how-it-works-steps {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .landing-page-candidates-how-it-works-steps {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem
    }
}

.landing-page-candidates-testimonials {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
}

.landing-page-candidates-testimonials-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.5rem);
    color: var(--black-10);
    text-wrap: pretty;
    
}

.landing-page-candidates-testimonials-container {
    display: grid;
    gap: 1rem;
}

.landing-page-candidates-testimonial {
    display: grid;
    row-gap: 0.8rem;
    align-content: start;
    align-items: start;
    border-radius: 25px;
    padding: 1.2rem;
    background: var(--accent)
}

.landing-page-candidates-testimonial-avatar > img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.landing-page-candidates-testimonial-text {
    letter-spacing: 0.03rem;
    line-height: 1.4;
    color: var(--black-15)
}

.landing-page-candidates-testimonial-user-role-container {
    display: grid;
    gap: 0.3rem;
    align-items: start;
    align-self: start;
}

.landing-page-candidates-testimonial-name {
    font-weight: 600;
    color: var(--green-15)
}

.landing-page-candidates-testimonial-role {
    color: var(--black-20);
    font-size: 0.95rem;
}

@media screen and (min-width: 650px) {
    .landing-page-candidates-testimonials-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .landing-page-candidates-testimonials-container {
        gap: 1.5rem;
    }
}
/* end */

/* END OF LANDING PAGE */

/* Job Search Form */

.search-form {
    display: grid;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    gap: 0.5rem;
    background: white
}

.search-form-input-row {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.2rem;
    border-radius: 35px;
    border: 1px solid var(--black-80);
}

/* This element is created from search_result.html */
.search-form-input-error {
    flex: 0 0 100%;
    padding: 0 2.3rem;
    font-size: 0.9rem;
    color: var(--error);
    letter-spacing: 0.03rem;
}

.search-form-input-error > i {
    font-size: 1rem;
}

.row-focus {
    border-radius: 30px;
    outline: 3px solid var(--focus);
}

.search-form-input-row > label {
    color: var(--black-40);
    font-size: 1.25rem;
    line-height: 0;
}

.search-form-input-row > input {
    flex: 1;
    color: var(--black-20);
    letter-spacing: 0.03rem;
    padding: 0 1rem;
    border: none;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-form-input-row > input:focus {
    outline: none;
}

.search-form-input-divider {
    display: none;
    align-self: center;
    width: 1px;
    height: 30px;
    background: var(--black-80)
}

.search-form-button-container {
    margin-top: 0.5rem;
}

.search-form-submit-btn {
    width: 100%;
    padding: 1rem;
    color: white;
    background: var(--green-30);
    letter-spacing: 0.03rem;
    border-radius: 25px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.searches-suggestions-container,
.cities-suggestions-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    max-height: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.show-suggestions {
    opacity: 1;
    top: 60px;
    max-height: 300px;
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    background: white;
    overflow: auto;
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 3px 3px 15px -3px var(--black-30);
}

.search-form-clear-btn {
    color: var(--black-40);
    font-size: 1.25rem;
    display: none;
    cursor: pointer;
}

.suggestion {
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.close-suggestions {
    background: none;
    color: var(--black-40);
    border: none;
    font-size: 1.2rem;
    justify-self: end;
    height: 1;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .search-form {
        display: flex;
        border: 1px solid var(--black-80);
        border-radius: 50px;
    }

    .search-form-input-divider {
        display: flex;
    }
    
    .search-form-input-row {
        padding: 0.8rem 1.2rem;
        padding-left: 1.5rem;
        border: none;
        border-radius: 40px;
    }

    .row-focus {
        border-radius: 40px;
    }

    .search-form-button-container {
        padding: 0.8rem;
        margin-top: 0;
    }

    .search-form-submit-btn {
        width: auto;
        padding: 0.8rem 1rem;
    }

    .show-suggestions {
        top: 80px;
    }
}
 
/* End */

/* CANDIDATE ADD CAREER DETAIL */
.candidate-add-form-back-to-previous-page {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
    padding-top: 3rem;

    display: flex;
}

.candidate-add-form-back-to-previous-page > a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--black-50);
    letter-spacing: 0.03rem;
}

.candidate-add-form-back-to-previous-page > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--green-40);
    color: var(--green-30);
}

.candidate-register-form-row {
    min-height: 100svh;
    display: grid;
    align-content: center;
    padding: 2rem 0;
}

.candidate-register-form-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2rem;
}

.candidate-register-form-container > 
.logo-container {
    text-align: center;
    margin-bottom: 0.5rem;
}

.candidate-register-form-container > 
.logo-container > .logo-header {
    font-size: 2.5rem;
    color: var(--green-35);
    font-weight: 700;
}

.candidate-register-form-text-container {
    display: grid;
    align-content: start;
    gap: 0.8rem;
    text-align: center;
}

.candidate-register-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.candidate-register-form-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    margin: 0 auto;
    text-wrap: pretty;
}

.candidate-add-career-form {
    display: grid;
    align-content: start;
    align-items: end;
    gap: 2rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.candidate-qualification-input-row,
.candidate-education-input-row,
.candidate-experience-input-row {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.qualification-form-container,
.education-form-container,
.experience-form-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.qualification-form,
.education-form,
.experience-form {
    position: relative;
    display: grid;
    align-content: center;
    gap: 1.5rem;
    background: white;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--black-80);
}

.remove-candidate-career-form {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    z-index: 3;
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    background: var(--black-50);
    color: white;
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
}

.qualification-form > p,
.education-form > p,
.experience-form > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
    position: relative;
}

.experience-form > p > label,
.education-form > p > label,
.qualification-form > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.experience-form > p > select,
.experience-form > p > input,
.education-form > p > select,
.education-form > p > input,
.qualification-form > p > select,
.qualification-form > p > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 8px;
    color: var(--black-20);
    letter-spacing: 0.03rem;
    background: white;
}

.candidate-input-error-field {
    position: absolute;
    z-index: 2;
    top: -17px;
    left: 0;
    display: none;
    color: red;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}

.experience-form > p > select,
.education-form > p > select,
.qualification-form > p > select {
    width: 100%;
    box-sizing: border-box;
    background: none;
    background: white;
    font-size: 1rem;
}

/* .experience-form > p > select:focus,
.education-form > p > select:focus,
.qualification-form > p > select:focus {
    outline: 3px solid var(--focus);
} */

.add-more {
    justify-self: end; 

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size:0.9rem; 
    background:var(--black-20); 
    color: white;
    padding:0.5rem 1rem;
    border-radius:5px;
    border:none;
    cursor: pointer;
}

.candidate-career-submit-btn {
    padding: 1rem 1.5rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 200ms linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate-register-form-create-later {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

.candidate-form-button-spinner {
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid white;
    border-top: 4px solid black;
    animation: spinner 400ms linear infinite;
}

.candidate-register-form-warning {
    display: none;
    color: var(--black-10);
    letter-spacing: 0.03rem;
    padding: 0.6rem 1rem;
    font-weight: 500;
    border-radius: 5px;
    background: #f0e964;

    align-items: center;
    justify-content: space-between;
}

.candidate-register-form-error {
    background: #ffb1a7;
}

.candidate-register-form-warning > i {
    font-size: 1.1rem;
}

/* resume */
#id_resume {
    display: none;
}

.resume-input-wrapper-label {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    justify-self: start;
    background: var(--black-30);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.resume-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    border: 1px solid var(--black-80);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.resume-url {
    color: var(--green-30);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    text-transform: lowercase;
}

.selected-resume {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black-30);
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.9rem;
    text-transform: lowercase;
}

.candidate-register-form-help-text {
    font-size: 0.9rem;
    color: var(--black-50);
}


@keyframes spinner {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

@media (hover) {
    .candidate-career-submit-btn:hover {
        background: var(--green-40)
    }

    .candidate-register-form-create-later:hover {
        color: var(--black-20);
    }
}

@media screen and (min-width: 700px) {
    .candidate-register-form-row {
        padding: 3rem 0;
    }
}

/* ==== JOBS ==== */
.jobs-hero-img {
    min-height: 60dvh;
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.5)), url('../imgs/jobs_hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jobs-search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    max-width: 90%;
    transform: translateX(-50%)
}

.jobs-search-container > 
.search-form-container >
.search-form {
    background: transparent;
}

.jobs-search-container > 
.search-form-container >
.search-form > 
.search-form-input-row {
    background: white;
}

.jobs-container {
    padding: 2rem 0;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2rem;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.jobs-latest-jobs-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.3rem);
    color: var(--black-10);
    text-wrap: pretty;
}

.jobs-dashboard-navs {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.job-nav {
    display: grid;
    align-content: start;
}

.job-nav-link {
    color: var(--black-20);
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0.8rem;
}

.active-job-nav-link {
    color: var(--green-30) !important;
    font-weight: 600;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.job-nav-link-border-bottom {
    outline: 2px solid transparent
}

.active-border-bottom {
    outline: 2px solid var(--green-40);
}

.job-nav-link-disabled {
    color: var(--black-60);
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0.8rem;
}

.jobs-do-not-exist-container {
    min-height: 80dvh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: start;
    gap: 1.5rem
}

.sad-emoji-container {
    width: 70px;
}

.sad-emoji-container > img {
    width: 100%;
    height: auto;
    display: block;
}

.jobs-do-not-exist-text {
    color: var(--black-20);
    font-weight: 500;
    font-size: 1.2rem;
    text-wrap: pretty;
    text-align: center;
    max-width: 400px;
    letter-spacing: 0.03;
    line-height: 1.3;
}

@media (hover) {
    .job-nav:hover > .job-nav-link-border-bottom {
        outline: 2px solid var(--black-80);
    }

    .job-nav:hover > .active-border-bottom {
        outline: 2px solid var(--green-40);
    }

    .job-nav:hover > .job-nav-link {
        color: var(--black-40);
    }
}

.jobs {
    display: grid;
    align-content: start;
    gap: 2rem;
    grid-template-columns: 1fr;
}

.job {
    display: grid;
    gap: 1.5rem;
    padding: 1.4rem;
    border-radius: 25px;
    border: 1px solid var(--black-85);
    background: var(--black-95);
}

.job-contents {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1.5rem;
    overflow: hidden;
}

.job-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    row-gap: 0.5rem;
    overflow: hidden;
}

.job-work-location,
.job-job-type,
.job-industry {
    color: var(--black-10);
    background: var(--black-90);
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    border: 1px solid var(--black-85)
}

.job-employer-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

@media (hover) {
    .job-employer-info:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--cta);
    }
}

.job-employer-logo-container {
    width: 65px;
}

.job-employer-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

.job-employer-address {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 0.2rem;
    font-size: 0.9rem;
    color: var(--black-35)
}

.job-employer-name {
    font-weight: 500;
    font-size: 1rem;
    color: var(--black-10);
}

.jobs-no-matching-jobs {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.jobs-no-matching-jobs-message-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    overflow-x: hidden;
}

.jobs-no-matching-message {
    color: var(--black-40);
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
    font-weight: 500;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--black-10);
    font-size: 1.25rem;
    margin: 0.2rem;
}

.jobs-no-matching-jobs-message-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;
    height: 15px;
    margin-left: 2rem;
    color: var(--black-20);
    border: none;
    background: none;
    cursor: pointer;
}

.jobs-no-matching-jobs-message-close-btn > i {
    font-size: 1.3rem;
}

.job-title-container {
    display: grid;
    align-items: start;
    align-self: start;
    gap: 0.2rem
}

.job-title-header {
    color: var(--green-10);
    font-size: 1.2rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.job-created {
    font-size: 0.9rem;
    color: var(--black-30);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.3rem;
}

.job-created > span:nth-child(2) {
    font-size: 0.6rem;
}

.job-salary {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    background: var(--black-90);
    border: 1px solid var(--black-85)
}

.job-description-wrapper,
.job-qualification-wrapper {
    display: grid;
    align-self: start;
    gap: 0.3rem
}

.job-description-wrapper > h4,
.job-qualification-wrapper > h4 {
    color: var(--green-10);
    font-weight: 600;
}

.job-description-wrapper > p,
.job-qualification-wrapper > p {
    color: var(--black-30);
    letter-spacing: 0.03rem;
    line-height: 1.4;
}

.see-job-detail-btn {
    align-self: end;
    padding: 1rem;
    border: none;
    color: white;
    background: var(--cta);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    transition: background 100ms linear;
    text-align: center;
}

.jobs-load-more-btn-container {
    display: flex;
    justify-content: center;
}

.jobs-load-more-btn {
    color: white;
    letter-spacing: 0.03rem;
    cursor: pointer;
    background: var(--black-10);
    border: none;
    font-size: 1.2rem;
    border-radius: 35px;
    padding: 1.2rem 2rem;
    transition: background 100ms linear;
}

.jobs-load-more-btn > i {
    font-size: 1.1rem;
}

.no-more-jobs {
    color: white;
    background: var(--black-30);
    cursor: initial;
}

.dashboard-jobs-no-jobs {
    border: none !important;
    background: none !important;
    padding: 0 !important
}

.dashboard-jobs-do-not-exist-container {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1.5rem;
}

.dashboard-jobs-do-not-exist-message {
    font-weight:500;
    color:var(--black-40);
    font-size:1.1rem
}

@media (hover) {
    .see-job-detail-btn:hover {
        background: var(--green-20);
    }

    .jobs-load-more-btn:hover {
        background: var(--black-90);
        color: var(--black-10);
        outline: 2px solid var(--black-80)
    }

    .no-more-jobs:hover {
        background: var(--black-30);
        color: white;
        outline: none
    }
}

@media screen and (min-width: 600px) {
    .jobs-search-container > 
    .search-form-container >
    .search-form {
        background: white;
    }
}

@media screen and (min-width:700px) {
    .jobs {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr))
    }
}

@media screen and (min-width: 900px) {
    .jobs-container {
        padding: 3rem 0;
        padding-bottom: 6rem;
        gap: 3rem;
    }

    .jobs-load-more-btn {
        margin-top: 1.5rem;
        padding: 1.2rem 4rem;
    }
}

/* ==== END ==== */

/* ==== CANDIDATES JOB DETAIL ==== */
.job-detail-hero-text-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 1rem;
}

.job-detail-hero-header {
    letter-spacing: 0.03rem;
    color: white;
    text-wrap: pretty;
    font-size: clamp(2.3rem, 1dvw + 1.8rem, 3rem);
}

.job-detail-hero-text {
    color: var(--black-90);
    text-wrap: pretty;
    max-width: 600px;
    letter-spacing: 0.04rem;
    line-height: 1.4;
    font-size: 1.1rem;
}

.job-detail-container {
    min-height: 100dvh;
    padding: 2rem 0;
}

.job-detail-row {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2rem;
}

.job-detail-redirect {
    color: var(--black-30);
    letter-spacing: 0.03rem;
    justify-self: start;
    font-size: 1.1rem;
}

@media (hover) {
    .job-detail-redirect:hover {
        color: var(--green-30);
    }
}

.job-detail {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.job-detail-header-container {
    display: grid;
    align-content: start;
    gap: 0.3rem;
}

.job-detail-job-title {
    color: var(--green-10);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.7rem;
}

.job-detail-job-title > span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-40);
    font-size: 0.9rem;
}

.job-detail-job-info-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

@media (hover) {
    .job-detail-job-info-container:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--cta);
    }
}

.job-detail-employer-logo-container {
    width: 80px;
    height: 80px;
}

.job-detail-employer-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.job-detail-address {
    display: grid;
    align-content: start;
    gap: 0.2rem
}

.job-detail-employer-name {
    color: var(--green-10);
    font-weight: 600;
}

.job-detail-employer-address,
.job-detail-employer-state-country {
    font-size: 0.9rem;
    color: var(--black-20)
}

.job-pay-rate-job-type-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.job-detail-job-posted,
.job-pay-type,
.job-pay-rate {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.job-detail-job-posted > h4,
.job-pay-type > h4,
.job-pay-rate > h4 {
    color: var(--green-10);
}

.job-detail-job-posted,
.job-detail-pay-rate,
.job-detail-salary {
    color: var(--black-20)
}

.job-description-container,
.job-qualification-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.job-description-header,
.job-qualification-header {
    color: var(--green-10);
    font-size: 1rem;
}

.job-description,
.job-qualification {
    line-height: 1.4;
    color: var(--black-20);
    letter-spacing: 0.03rem;
    line-height: 1.4;
}

.job-detail-job-applicant-container {
    position: relative;
    display: grid;
    align-content: start;
    justify-self: start;
    gap: 0.5rem;
}

.job-detail-job-applicant-container >
.employer-dashboard-employer-job-applicants {
    min-width: 140px;
    top: calc(100% + 5px)
}

.job-detail-job-applicants {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.job-detail-job-applicant {
    display: grid;
    align-content: start;
}

.job-detail-job-applicant-name {
    color: var(--green-30);
    text-decoration: underline;
    font-size: 0.9rem;
}

.job-detail-applied-btn-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.job-detail-not-authenticated-btn,
.job-detail-applied-btn,
.job-detail-job-saved-btn {
    justify-self: start;
    padding: 0.7rem 1.5rem;
    border: none;
    background: var(--black-70);
    color: var(--black-40);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
}

.job-detail-apply-btn-container {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.job-detail-apply-btn {
    padding: 0.7rem 1.5rem;
    background: var(--cta);
    color: white;
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background 200ms linear;
}

.job-detail-save-job-btn {
    padding: 0.5rem 1.5rem;
    outline: 2px solid var(--cta);
    color: var(--black-20);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background 200ms linear;
}

@media (hover) {
    .job-detail-apply-btn:hover {
        background: var(--green-20)
    }

    .job-detail-save-job-btn:hover {
        background: var(--cta);
        color: white;
    }
}

@media screen and (min-width: 700px) {
    .job-detail-hero-header {
        text-align: center;
    }
    
    .job-detail-hero-text {
        text-align: center;
        margin: 0 auto;
    }

    .job-detail {
        border: 1px solid var(--black-85);
        background: var(--black-95);
        padding: 2rem;
        border-radius: 30px;
    }

    .job-description,
    .job-qualification {
        max-width: 500px;
    }
}

@media screen and (min-width: 900px) {
    .job-detail-container {
        padding: 4rem 0;
        padding-bottom: 6rem;
    }

    .job-detail-row {
        gap: 3rem;
    }
}

/* ==== END ==== */

/* ==== JOB SEARCH ==== */
.candidates-job-search-result-hero-container {
    min-height: 80svh;
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.5)), url('../imgs/jobs_hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.job-search-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
}

.job-search-results-wrapper {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1.5rem;
}

.job-search-results-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.3rem);
    color: var(--black-10);
    text-wrap: pretty;
}

@media screen and (min-width:900px) {
    .job-search-container {
        padding: 4rem 0;
        padding-bottom: 6rem;
    }
}

/* ==== END ==== */

/* UPDATE CANDIDATE PROFILE/CAREER INFO */
.candidate-update-form-back-to-previous-page {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 0;
    padding-top: 3rem;

    display: flex;
}

.candidate-update-form-back-to-previous-page > a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--black-50);
    letter-spacing: 0.03rem;
}

.candidate-update-form-back-to-previous-page > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--green-40);
    color: var(--green-30);
}

.candidate-update-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 0;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.candidate-update-form-container > 
.logo-container {
    text-align: center;
    margin-bottom: 0.5rem;
    justify-self: center;
}

.candidate-update-form-container > 
.logo-container > .logo-header {
    font-size: 2.5rem;
    color: var(--green-35);
    font-weight: 700;
}

.candidate-update-profile-form-header-text-container {
    display: grid;
    align-content: start;
    text-align: center;
    gap: 0.8rem
}

.candidate-update-profile-form-name {
    color: var(--black-15);
    font-size: 1.5rem;
}

.candidate-update-profile-form-text {
    letter-spacing: 0.03rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    font-size: 1.1rem;
    margin: 0 auto;
    text-wrap: pretty;
}

.candidate-update-form {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--black-80);
    border-radius: 25px;
    background: white;
}

.form-input-row {
    display: grid;
    align-content: start;
    gap: 0.5rem
}

.form-input-row > label {
    font-weight: 500;
    color: var(--black-10);
    letter-spacing: 0.03rem;
}

.form-input-row > input,
.form-input-row > select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--black-80);
    border-radius: 8px;
    padding: 1rem;
    background: white;
    letter-spacing: 0.03rem;
    color: var(--black-30)
}

.candidate-update-form-btn {
    padding: 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 100ms linear;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

@media (hover) {
    .candidate-update-form-btn:hover {
        background: var(--green-40)
    }
}

/* formmat file/image inputs */
.new-input-container {
	border: 1px solid var(--black-80);
    border-radius: 5px;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.5rem;
    overflow: hidden;
}

.image-input-wrapper {
	padding: 0.6rem 1rem;
    color: white;
    background: var(--black-30);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.image-anchor {
	color: var(--green-30);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    text-transform: lowercase;
}

.chosen-image-container {
	display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black-30);
    overflow: hidden;
    font-size: 0.9rem;
}

.chosen-text-content {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 700px) {
    .candidate-update-form-container {
        padding: 3rem 0;
    }
}