{% extends "employers/employers_index.html" %}
{% load static %}

{% block title %}
    Employer Register
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="employer-register-form-row">
        <div class="employer-register-form-container">
            <div class="form-navbar">
                <a href="
                    {% if next %}
                        {{ next }}
                    {% else %}
                        {% url 'employers:employer' %}
                    {% endif %}" 
                    class="logo-container"
                >
                    <span class="logo-header">HireSpot</span>
                </a>
                <button class="form-navlinks-toggle-btn">
                    <i class="fas fa-bars form-show-navlinks"></i>
                    <i class="fas fa-times form-remove-navlinks remove-form-navlinks-toggle-btn-child"></i>
                </button>
                {% with request.resolver_match.url_name as url_name %}
                    <div class="form-navlinks">
                        <a class='navlink' href="{% url 'employers:employer' %}">Home</a>
                        <a class="
                            {% if url_name == 'employer-register' %}active-link{% endif %} navlink" 
                            href="{% url 'employers:employer-register' %}"
                        >
                            Register Employer
                        </a>
                    </div>
                {% endwith %}
            </div>
            <div class="employer-register-form-text-container">
                <h2 class="employer-register-form-name">
                    Create an Employer Account!
                </h2>
                <p class="employer-register-form-text">
                    You haven't posted a job before, 
                    so you'll need to create an employer account.
                </p>
            </div>
            <form class="employer-register-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="employer-register-form-btn">Create Account</button>
            </form>
            {% comment %} <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="employer-register-form-btn">Create Account</button>
            </form> {% endcomment %}
            <a href="{% url 'employers:employer' %}" class="employer-register-form-create-later">
                <span>Complete form later</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
{% endblock content %}

{% block js %}

    <script>
        const notRequired = ['id_logo', 'id_website', 'id_about_employer']
        const labelsList = Array.from(document.querySelectorAll('label'))
        const errorList = Array.from(document.querySelectorAll('.errorlist'))

        errorList && errorList.forEach((list) => {
            const nextSibling = list.nextElementSibling
            const firstChild = nextSibling.querySelector('label')

            nextSibling.insertBefore(list, firstChild)
        })

        labelsList.forEach((label) => {
            const labelFor = label.getAttribute('for')
            if (!notRequired.includes(labelFor)) {
                label.innerHTML= `
                    <span>${label.textContent.split(':')[0]}</span>
                    <span style="color: red;">*</span>`
            }
            else {
                label.innerHTML = `
                    <span>${label.textContent.split(':')[0]}</span>`
            }
        })

    </script>


{% endblock js %}

{% block footer %}{% endblock footer %}