{% extends "employers/employers_index.html" %}
{% load static %}

{% block title %}
    Post Job
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="post-job-form-row">
        <div class="post-job-form-container">
            <div class="form-navbar">
                <a href="
                    {% if next %}
                        {{ next }}
                    {% else %}
                        {% url 'employers:employer' %}
                    {% endif %}" 
                    class="logo-container"
                >
                    <span class="logo-header">HireSpot</span>
                </a>
                <button class="form-navlinks-toggle-btn">
                    <i class="fas fa-bars form-show-navlinks"></i>
                    <i class="fas fa-times form-remove-navlinks remove-form-navlinks-toggle-btn-child"></i>
                </button>
                {% with request.resolver_match.url_name as url_name %}
                    <div class="form-navlinks">
                        <a class='navlink' href="{% url 'employers:employer' %}">Home</a>
                        <a class="
                            {% if url_name == 'post-job' %}active-link{% endif %} navlink" 
                            href="{% url 'employers:post-job' %}"
                        >
                            Post Job
                        </a>
                    </div>
                {% endwith %}
            </div>
            <div class="post-job-form-text-container">
                <h3 class="post-job-form-name">
                    Start Your Recruitment Journey Here!
                </h3>
                <p class="post-job-form-text">
                    Ready to find your next great hire? Complete the form below
                    with the job details and let us help you connect with talented 
                    professionals.
                </p>
            </div>
            <form action="" method='POST' class="post-job-form">
                <h2>Post a job</h2>
                {% csrf_token %}
                <p class="post-job-form-select-container">
                    <label for="employer">Employer:</label>
                    <select name="employer" id="employer" required autofocus>
                        <option value="">-----</option>
                        {% for employer in employers %}
                            <option value="{{ employer.employer_name }}">
                                {{ employer.employer_name }}
                            </option>
                        {% endfor %}
                    </select>
                </p>
                {{ form.as_p }}
                <button type='submit' class="post-job-form-submit-job-btn">Submit Job</button>
            </form>
            <a href="{% url 'employers:employer' %}" class="post-job-form-post-job-later">
                <span>Complete form later</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
   
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
    <script>
        const jobFormLabels = Array.from(document.querySelectorAll('label'))
        let input = null

        window.addEventListener('DOMContentLoaded', formatJobForm)

        function formatJobForm() {
            jobFormLabels.forEach((label) => {
                if (label.getAttribute('for') === 'id_currency_code') {
                    input = label.nextElementSibling
                    const labelParent = label.parentElement
                    labelParent.style.display = 'none'
                }
                else {
                    label.innerHTML = `
                        <span>${label.textContent.split(':')[0]}</span>
                        <span style="color: red;">*</span>
                    `
                }
            })
        }

        async function addCurrencyCode(event) {
            const countryCode = event.currentTarget.value
            const url = `https://restcountries.com/v3.1/alpha/${countryCode}`

            const resp = await fetch(url)
            const data = await resp.json()

            const currency = data[0].currencies
            const key = Object.keys(data[0].currencies)[0]
            const symbol = currency[key].symbol

            input.setAttribute('value', symbol)
        }

    </script>
{% endblock js %}

