{% extends "employers/employers_index.html" %}
{% load static %}

{% block title %}
    Post a job
{% endblock title %}

{% block content %}
    <div class="employers-landing-page-content-row">
        <div class="employers-landing-page-content-container">
            <div class="employers-landing-page-contents">
                <h1 class="employers-landing-page-header">Unlock Exceptional Talent for Your Team!</h1>
                <p class="employers-landing-page-text">
                    At <strong>HireSpot</strong>, we help employers quickly find the right candidates. 
                    Post job openings, browse qualified applicants, and streamline your hiring process 
                    with our advanced search filters and candidate assessments. 
                    Start building your dream team today!
                </p>
                <a href="{% url 'employers:post-job' %}" class="employers-landing-page-post-a-job-btn">Post a Job</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}