{% extends "index.html" %}
{% load static %}

{% block title %}
    Post a job
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block content %}
    
    <div class="employers-landing-page-content-row">
        <div class="employers-landing-page-content-container">

        </div>
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}

{% block footer %}{% endblock footer %}