{% extends "index.html" %}
{% load static %}

{% block title %}
    Employer Dashboard
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}
    {% include "employer_nav.html" %}
{% endblock nav %}

{% block content %}
    <h1>Employer Dashboard</h1>
    {% for employer in employers %}
        <a href="{{ employer.get_absolute_url }}">
            {{ employer.employer_name }}
        </a>
    {% endfor %}
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}