{% load static %}

<div class="nav-row">

    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% if redirect_url != '/candidates/jobs/' %}{% url 'employers:employer' %}{% else %}{% url 'candidates:landing-page' %}{% endif %}" class="brand-logo">HireSpot</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="navlinks">
                <a href="{% url 'candidates:jobs' %}" class="navlink">Job Seeker Site</a>
                {% if request.user.is_authenticated%}
                    <a href="{% url 'employers:post-job' %}" class="navlink">Post Job</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div class="navlink-user-container">
                        <div href="" class="navlink-user">
                            <div class="navlink-img-container">
                                <img src="{{ request.user.profile.get_profile_image_url }}" alt="">
                            </div>
                            <span class="navlink-username" >
                                {{ request.user.username }}
                            </span>
                            <span class="navlink-chevron-down">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="navlink-drop-down-link">
                            <a href="{% url 'accounts:profile' %}" class="navlink">Profile</a>
                            <a href="{% url 'employers:employer-register' %}" class="navlink">Register Employer</a>
                            <a href="{% url 'candidates:about' %}" class="{% if url_name == "about" %}active-link{% endif %} navlink">About</a>
                            <a href="{% url 'candidates:contact' %}" class="{% if url_name == "contact" %}active-link{% endif %} navlink">Contact</a>
                            <button class='navlink logout-btn'>Sign Out</button>
                        </div>
                    </div>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'candidates:about' %}" class="{% if url_name == "about" %}active-link{% endif %} navlink">About</a>
                    <a href="{% url 'candidates:contact' %}" class="{% if url_name == "contact" %}active-link{% endif %} navlink">Contact</a>
                    <a href="{% url 'accounts:login' %}" class="navlink">Sign In</a>
                    <a class='navlink register-link' href="{% url 'accounts:register' %}">Sign Up</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

    <!-- Mobile nav bar -->

    <nav class="mobile-nav-bar">
        <div class="mobile-brand-container">
            <a href="{% url 'employers:employer' %}" class="mobile-brand-logo">HireSpot</a>
        </div>
        <div class="mobile-navlinks-toggle-btns-container">
            <button type="button" class="mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="mobile-navlinks-close-btn hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="mobile-navlinks">
                {% if request.user.is_authenticated %}
                    <div href="" class="mobile-navlink-user">
                        <div class="mobile-navlink-img-container">
                            <img src="{{ request.user.profile.get_profile_image_url }}" alt="">
                        </div>
                        <span class="mobile-navlink-username">
                            {{ request.user.username }}
                        </span>
                    </div>
                {% endif %}
                <a href="{% url 'candidates:jobs' %}" class="mobile-navlink">Job Seeker Site</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'employers:post-job' %}" class="mobile-navlink">Post Job</a>
                    <a href="{% url 'employers:employer-register' %}" class="mobile-navlink">Register Employer</a>
                    <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:about' %}">About</a>
                    <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:contact' %}">Contact</a>
                    <a href="{% url 'accounts:profile' %}" class="mobile-navlink">Profile</a>
                    <button class="mobile-navlink mobile-logout-btn">Sign Out</button>
                {% else %}
                    <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:about' %}">About</a>
                    <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:contact' %}">Contact</a>
                    <a class='mobile-navlink' href="{% url 'accounts:login' %}">Sign In</a>
                    <a class='mobile-navlink' href="{% url 'accounts:register' %}">Sign Up</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

</div>