{% extends "index.html" %}
{% load static %}

{% block title %}
    Employer Detail
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}
    {% include "employer_nav.html" %}
{% endblock nav %}

{% block content %}
<div class="employer-detail-container">
    <div class="employer-detail-row">
        <h1>Employer Detail</h1>
        <h3>{{ employer.company}}</h3>
        {% if jobs %}
            {% for job in jobs %}
                <a href="{{ job.get_absolute_url }}?redirect={{ job.employer.get_absolute_url }}">
                    Job-{{ job.job_title }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}