{% extends "employers/employers_index.html" %}
{% load static %}

{% block title %}
    Employer Detail
{% endblock title %}

{% block content %}
<section class="employer-company-hero-img">
    <div class="employer-company-hero-text-container">
        <h1 class="employer-company-hero-header">
            Compay Detail
        </h1>
        <p class="employer-company-hero-text">
            {{ employer.about_employer}}
        </p>
    </div>
</section>
<div class="employer-detail-container">
    <div class="employer-detail-row">
        <a href="{{ redirect_url }}" class="employer-detail-redirect">
            <i class="fas fa-arrow-left"></i>
            <span>Back to previous page</span>
        </a>
        <h1 class="employer-detail-header">
            {{ employer.employer_name}}
        </h1>
        <div class="employer-detail-employer">
            <div class="employer-detail-employer-info">
                <div class="employer-detail-employer-logo-container">
                    <img src="{{ employer.get_logo_url }}" alt="">
                </div>
                <div class="employer-detail-employer-name-address">
                    <p class="employer-detail-employer-name">
                        {{ employer.employer_name }}
                    </p>
                    <p class="employer-detail-employer-address">
                        {{ employer.city }}
                        
                    </p>
                    <p class="employer-detail-employer-country">
                        <span>{{ employer.state_or_province }}</span>,
                        <span>{{ employer.country }}</span>
                    </p>
                    <p class="employer-detail-employer-country">
                        <span>{{ employer.zip_code_or_postal_code }}</span>
                    </p>
                </div>
            </div>
            <div class="employer-detail-employer-about">
                <h4 class="employer-detail-employer-about-header">
                    About
                </h4>
                <p class="employer-detail-employer-about-text">
                    {{ employer.about_employer}}
                </p>
            </div>
            <div class="employer-detail-employer-website">
                <h4 class="employer-detail-employer-website-header">Website</h4>
                <a href="{{ employer.website }}" target="_blank" class="employer-detail-employer-website-url">
                    {{ employer.website }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
