{% extends "index.html" %}
{% load static %}

{% block title %}
    Job Detail
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}
    {% include "employer_nav.html" %}
{% endblock nav %}

{% block content %}
<div class="job-detail-container">
    <div class="job-detail-row">
        <a href="{{ redirect_url }}">
            <i class="fas fa-arrow-left"></i>
            <span>Back to previous page</span>
        </a>
        <div class="job-detail">
            <h2 class="job-detail-job-title">{{ job.job_title}}</h2>
            <div class="job-detail-job-info-container">
                <div class="job-detail-employer-logo-name">
                    <div class="job-detail-employer-logo">
                        <img src="{{ job.employer.get_logo_url }}" alt="">
                    </div>
                    <p class="job-detail-employer-name">{{ job.employer.employer_name }}</p>
                </div>
                <p class="job-detail-employer-address">
                    <span>{{ job.employer.city }},</span>
                    <span>{{ job.employer.state_or_province }}</span>
                </p>
                <p class="job-detail-employer-country">{{ job.employer.country }}</p>
            </div>
            <p class="job-detail-salary">${{ job.salary|floatformat:0 }}/month</p>

            <div class="job-qualification-container">
                <h3 class="job-qualification-header">Qualification:</h3>
                <p class="job-qualification">{{ job.qualification }}</p>
            </div>

            {% if 'jobs' in redirect_url %}
                <a class="job-detail-apply-btn" href="{% url 'candidates:candidate-apply' job.slug %}">Apply</a>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}