{% extends "index.html" %}
{% load static %}

{% block title %}
    Job Detail
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}
    {% include "employer_nav.html" %}
{% endblock nav %}

{% block content %}
    <h1>Job Detail</h1>
    <br>
    <a href="{{ redirect_url }}">Back to previous page</a>
    <br><br>
    <h3>Employer-{{ job.employer.employer_name }}</h3>
    <h4>Job title-{{ job.job_title}}</h4>
    <br>
    {% if 'jobs' in redirect_url %}
        <a href="">Apply</a>
    {% endif %}
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}