{% extends "index.html" %}
{% load static %}

{% block title %}
    Job Detail
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}
    {% include "employer_nav.html" %}
{% endblock nav %}

{% block content %}
    <h1>Job Detail</h1>
    <h3>Employer-{{ employer.company }}</h3>
    <h4>Job title-{{ job.job_title}}</h4>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}