{% extends "index.html" %}
{% load static %}

{% block title %}
    Post Job
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'employers/employers.css' %}">
{% endblock css %}

{% block nav %}{% endblock nav %}

{% block content %}
    <div class="post-job-form-row">
        <div class="post-job-form-container">
            <a href="{% url 'employers:employer' %}" class="logo-container">
                <span class="logo-header">HireSpot</span>
                <span class="logo-slogan">future starts here</span>
            </a>
            <form class="post-job-form" action="" method="POST">
                <div class="post-job-form-text-container">
                    <H2 class="post-job-form-name">Start Your Recruitment Journey Here!</H2>
                    <span>Ready to find your next great hire? Complete the form below with the job details
                         and let us help you connect with talented professionals.
                    </span>
                </div>
                {% csrf_token %}
                <p>
                    <label for="employers">Choose a employer:</label>
                    <select name="employers" id="employers" required>
                        <option value="">-----</option>
                        {% for employer in employers %}
                            <option value="{{ employer.company }}">
                                {{ employer.company }}
                            </option>
                        {% endfor %}
                    </select>
                </p>
                {{ form.as_p }}
                <button class="post-job-form-submit-job-btn">Submit Job</button>
            </form>
            <a href="{% url 'employers:employer' %}" class="post-job-form-post-job-later">
                <span>Post Job later</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
    <script type="text/javascript" src="{% static 'employers/employers.js' %}"></script>
{% endblock js %}

