{% load static %}

<div class="nav-row">
    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'candidates:landing-page' %}" class="brand-logo">HireSpot</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="navlinks">
                <a class='{% if url_name == "jobs" %}active-link{% endif %} navlink' href="{% url 'candidates:jobs' %}">Jobs</a>
                <a href="{% url 'employers:employer' %}" class="navlink">Employer Site</a>
                {% if request.user.is_authenticated %}
                    <div class="navlink-user-container">
                        <div href="" class="navlink-user">
                            <div class="navlink-img-container">
                                {% if request.user.is_authenticated %}
                                    <img src="{{ request.user.profile.get_profile_image_url }}" alt="">
                                {% else %}
                                    <img src="{% static 'imgs/default.png' %}" alt="">
                                {% endif %}
                            </div>
                            <span class="navlink-username">
                                {{ request.user.username }}
                            </span>
                            <span class="navlink-chevron-down">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="navlink-drop-down-link">
                            <a href="{% url 'accounts:profile' %}" class="navlink">Profile</a>
                            <a href="{% url 'candidates:about' %}" class="{% if url_name == "about" %}active-link{% endif %} navlink">About</a>
                            <a href="{% url 'candidates:contact' %}" class="{% if url_name == "contact" %}active-link{% endif %} navlink">Contact</a>
                            <button class='navlink logout-btn'>Logout</button>
                        </div>
                    </div>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'candidates:about' %}" class="{% if url_name == "about" %}active-link{% endif %} navlink">About</a>
                    <a href="{% url 'candidates:contact' %}" class="{% if url_name == "contact" %}active-link{% endif %} navlink">Contact</a>
                    <a href="{% url 'accounts:login' %}" class="navlink">Login</a>
                    <a href="{% url 'accounts:register' %}" class="navlink register-link">Register</a>
                {% endif %}
        {% endwith %}
        {% if request.user.is_authenticated %}
            <p class="location-flag"></p>
        {% endif %}
    </nav>

    <!-- Mobile nav bar -->

    <nav class="mobile-nav-bar">
        <div class="mobile-brand-container">
            <a href="{% url 'candidates:landing-page' %}" class="mobile-brand-logo">HireSpot</a>
        </div>
        <div class="mobile-navlinks-toggle-btns-container">
            <button type="button" class="mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="mobile-navlinks-close-btn hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="mobile-navlinks">
                {% if request.user.is_authenticated %}
                    <p class="location-flag" style="text-align: center"></p>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div href="" class="mobile-navlink-user">
                        <div class="mobile-navlink-img-container">
                            <img src="{{ request.user.profile.get_profile_image_url }}" alt="">
                        </div>
                        <span class="mobile-navlink-username">
                            {{ request.user.username }}
                        </span>
                    </div>
                {% endif %}
                <a class='{% if url_name == "jobs" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:jobs' %}">Jobs</a>
                <a href="{% url 'employers:employer' %}" class='mobile-navlink'>Employer Site</a>
                {% if not request.user.is_authenticated %}
                    <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:about' %}">About</a>
                    <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:contact' %}">Contact</a>
                    <a href="{% url 'accounts:login' %}" class="mobile-navlink">Login</a>
                    <a href="{% url 'accounts:register' %}" class="mobile-navlink">Register</a>
                {% else %}
                    <a href="{% url 'accounts:profile' %}" class="mobile-navlink">Profile</a>
                    <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:about' %}">About</a>
                    <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:contact' %}">Contact</a>
                    <button class="mobile-navlink mobile-logout-btn">Logout</button>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

</div>
