{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Job Detail
{% endblock title %}

{% block content %}
<section class="jobs-hero-img">
    <div class="job-detail-hero-text-container">
        <h1 class="job-detail-hero-header">
            Job Detail
        </h1>
        <p class="job-detail-hero-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Praesentium quam mollitia dolores quae quod eligendi, 
            aliquid hic voluptatibus inventore suscipit exercitationem 
            quaerat assumenda saepe voluptate aspernatur est in a ipsa.
        </p>
    </div>
</section>
<div class="job-detail-container">
    <section class="job-detail-row">
        <a class="job-detail-redirect" href="{{ redirect_url }}">
            <i class="fas fa-arrow-left"></i>
            <span>Back to previous page</span>
        </a>
        <div class="job-detail">
            <div class="job-detail-header-container">
                <h2 class="job-detail-job-title">
                    {{ job.job_title }}
                </h2>
            </div>
            <div class="job-detail-job-info-container">
                <div class="job-detail-employer-logo-container">
                    <img src="{{ job.employer.get_logo_url }}" alt="">
                </div>
                <div class="job-detail-address">
                    <p class="job-detail-employer-name">
                        {{ job.employer.employer_name }}
                    </p>
                    <p class="job-detail-employer-address">
                        <span>{{ job.employer.city }},</span>
                        <span>{{ job.employer.state_or_province }}</span>
                    </p>
                    <p class="job-detail-employer-state-country">
                        <span>{{ job.employer.country }}</span>
                        <span>{{ job.employer.zip_code_or_postal_code }}</span>
                    </p>
                </div>
            </div>
            <div class="job-pay-rate-job-type-container">
                <div class="job-pay-rate">
                    <h4>Pay Rate:</h4>
                    <p class="job-detail-pay-rate">
                        {{ job.currency_code }}{{ job.salary|floatformat:0 }} / {{ job.payment_type }}
                    </p>
                </div>
                <div class="job-pay-type">
                    <h4>Job Type:</h4>
                    <p class="job-detail-salary">
                       {{ job.job_type }}
                    </p>
                </div>
                <div class="job-detail-job-posted">
                    <h4>Posted:</h4>
                    <p class="job-detail-job-posted">
                        {{ job.created|date:'M d Y'}}
                    </p>
                </div>
            </div>
            <div class="job-description-container">
                <h4 class="job-description-header">Job Description:</h4>
                <p class="job-description">{{ job.job_description }}</p>
            </div>
            <div class="job-qualification-container">
                <h4 class="job-qualification-header">Qualification:</h4>
                <p class="job-qualification">{{ job.qualification }}</p>
            </div>
            {% if request.user.is_authenticated %}
                {% if is_owner %}
                    {% if job.applicants.count %}
                        <div class="job-detail-job-applicant-container">
                            <p class="employer-dashboard-employer-job-applicants-header">
                                {% if job.applicants.count == 1 %}
                                    <span>See applicant</span>
                                {% else %}
                                    <span>See applicants</span>
                                {% endif %}
                                <i class="fas fa-chevron-down"></i>
                            </p>
                            {% if job.applicants.exists %}
                                <div class="employer-dashboard-employer-job-applicants">
                                    {% for applicant in job.applicants.all %}
                                        <a class="employer-dashboard-employer-job-applicant" 
                                            target="_blank"
                                            href="{{ applicant.get_absolute_url }}?redirect={{ request.path }}">
                                            {{ forloop.counter }}. {{ applicant.profile.first_name}} {{ applicant.profile.last_name}}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
           
            {% if not request.user.is_authenticated %}
                <button class='job-detail-not-authenticated-btn' type='button'>Apply</button>
            {% else %}
                {% if request.user.profile.user_type == 'job seeker' %}
                    {% if applied %}
                        <div class="job-detail-applied-btn-container">
                            <button class='job-detail-applied-btn' type='button'>Applied</button>
                            {% if job_saved %}
                                <button type='button' class="job-detail-job-saved-btn">Saved</button>
                            {% else %}
                                <a class="job-detail-save-job-btn" href="{% url 'candidates:save-job' job.slug %}">Save</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="job-detail-apply-btn-container">
                            <a class="job-detail-apply-btn" href="{% url 'candidates:candidate-apply' job.slug %}">Apply</a>
                            {% if job_saved %}
                                <button type='button' class="job-detail-job-saved-btn">Saved</button>
                            {% else %}
                                <a class="job-detail-save-job-btn" href="{% url 'candidates:save-job' job.slug %}">Save</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </section>
</div>
{% endblock content %}

{% block js %}
    <script type='text/javascript'>
        const jobDetailContainer = document.querySelector('.job-detail-container')

        jobDetailContainer.scrollIntoView({behavior:'smooth', block:'start'})

    </script>
{% endblock js %}
