
<div class="search-form-container">
    <form class="search-form" action="" method="GET">
        <div class="search-form-input-row search-input-row">
            <label for="query">
                <i class="fas fa-search"></i>
            </label>
            <input class="search-form-input" id="query" type="text" name="q" placeholder="Job title, keywords, or company">
            <i class="fas fa-close search-form-clear-btn"></i>
        </div>
        <div class="search-form-input-divider"></div>
        <div class="search-form-input-row cities-input-row">
            <label for="city">
                <i class="fas fa-location"></i>
            </label>
            <input class="search-form-input" id="city" type="text" name="city" placeholder="City, province, or zip code">
            <i class="fas fa-close search-form-clear-btn"></i>
        </div>
        <div class="search-form-button-container">
            <button class="search-form-submit-btn" type="submit">
                Search Jobs
            </button>
        </div>
    </form>
</div>
