{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Add Career
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="candidate-register-form-row">
        <div class="candidate-register-form-container">
            <a href="
                {% if next %}
                    {{ next }}
                {% else %}
                    {% url 'candidates:landing-page' %}
                {% endif %}" 
                class="logo-container"
            >
                <span class="logo-header">HireSpot</span>
            </a>
            <div class="candidate-register-form-text-container">
                <h2 class="candidate-register-form-name">
                    Start Your Job Search Today!
                </h2>
                <p class="candidate-register-form-text">
                    Create your profile to explore job opportunities, 
                    and showcase your skills to top employers. 
                    It only takes a few minutes to set up and get noticed by recruiters.
                </p>
            </div>
            <form class="candidate-add-career-form" action="" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <div id='qualification' class="candidate-qualification-input-row">
                    <h2>Qualification</h2>
                    <div class="qualification-form-container">
                    </div>
                </div>
                <div id='education' class="candidate-education-input-row">
                    <h2>Education</h2>
                    <div class="education-form-container">
                    </div>
                    <button type="button" class="add-more education">
                        Add more education
                    </button>
                </div>
                <div id='experience' class="candidate-experience-input-row">
                    <h2>Experience</h2>
                    <div class="experience-form-container">
                    </div>
                    <button type="button" class="add-more experience">
                        Add more experience
                    </button>
                </div>
                <button type='submit' class="candidate-career-submit-btn">
                    <span class="candidate-profile-button-text">Save Application</span>
                    <span class="candidate-form-button-spinner hide-form-btn-content"></span>
                </button>
            </form>
            <a href="{% url 'candidates:jobs' %}" class="candidate-register-form-create-later">
                <span>Complete form later</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <script>
        const data = '{{ scroll_to }}'
        let resume_url = '{{ resume }}'

        localStorage.setItem('resume', JSON.stringify({resume:resume_url}))
        localStorage.setItem('scroll_to', JSON.stringify({dataType:data}))
    
    </script>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'candidates/js/candidate_add_career.js' %}"></script>
{% endblock js %}

{% block footer %}{% endblock footer %}