{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
	Home
{% endblock title %}

{% block nav %}
	{% include "candidates/candidates_landing_page_navbar.html" %}
{% endblock nav %}

{% block content %}
	<div class="hero-row">
		<div class="hero-content-container">
			<div class="mobile-landing-page-hero-img-container">
				<img src="{% static 'candidates/imgs/mobile-hero.webp' %}" alt="">
				<div class="mobile-landing-page-hero-img-background-overlay"></div>
			</div>
			<div class="hero-text-container">
				<h1 class="hero-header">
					<span>Reach New Heights in Your Career!</span>
				</h1>
				<p class="hero-text-body">
					At <strong>HireSpot</strong>, we help you climb toward 
					your dream job with personalized matches and powerful 
					search tools, guiding you to your next opportunity.
				</p>
				<a class="find-your-dream-job-btn" href="{% url 'candidates:jobs' %}">Find Your Dream Job!</a>
			</div>
		</div>
	</div>
	
	{% comment %} Section 1 {% endcomment %}
	<div class="landing-page-candidates-section-container">
		<section class="landing-page-candidates-section">
			<div class="langing-page-candidates-content-container">
				<div class="langing-page-candidates-content-header-container" >
					<h1 class="landing-page-candidates-contents-header"><strong>HireSpot</strong> Works for You</h1>
					<p class="landing-page-candidates-contents-header-text">
					Looking for a job shouldn't be hard. <strong>HireSpot</strong> makes 
					it easy for you to find the perfect match, all 
					in one place. Here’s why job seekers choose us every day.
					</p>
				</div>
				<div class="langing-page-candidates-contents">
					<div class="landing-page-candidates-content">
						<div class="landing-page-candidates-content-image-container">
							<div class="lanidng-page-candidates-content-image">
								<img src="{% static 'candidates/imgs/candidates_landing_page_content_1/checkmark.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-content-header">Skill Match</h3>
						</div>
						<p class="landing-page-candidates-content-body">
							With our simple and intuitive search feature, you can quickly discover jobs that 
							match your experience and career goals. No need for complex filters—just enter 
							your title, location, and hit search!
						</p>
					</div>
					<div class="landing-page-candidates-content">
						<div class="landing-page-candidates-content-image-container">
							<div class="lanidng-page-candidates-content-image">
								<img src="{% static 'candidates/imgs/candidates_landing_page_content_1/profile.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-content-header">Tailored Suggestions</h3>
						</div>
						<p class="landing-page-candidates-content-body">
							We understand that every job seeker has unique skills and aspirations. 
							That's why <strong>HireSpot</strong> suggests jobs based on your profile, ensuring you 
							never miss a great opportunity.
						</p>
					</div>
					<div class="landing-page-candidates-content">
						<div class="landing-page-candidates-content-image-container">
							<div class="lanidng-page-candidates-content-image">
								<img src="{% static 'candidates/imgs/candidates_landing_page_content_1/focus.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-content-header">Stay Focused</h3>
						</div>
						<p class="landing-page-candidates-content-body">
							Stop wasting time sifting through irrelevant listings. 
							<strong>HireSpot</strong> brings you only the most relevant job opportunities, 
							so you can spend more time preparing for your next step, rather 
							than searching endlessly.
						</p>
					</div>
				</div>
				<a class="landing-page-candidates-content-cta-btn" href="{% url 'candidates:jobs' %}">Sign Up Now</a>
			</div>
		</section>
		{% comment %} Section 2 {% endcomment %}
		<section class="landing-page-candidates-section">
			<div class="landing-page-candidates-how-it-works-container">
				<div class="landing-page-candidates-how-it-works-header-container">
					<h1 class="landing-page-candidates-how-it-works-header">How HireSpot Works</h1>
					<p class="landing-page-candidates-how-it-works-text">
						Here’s how to get started with <strong>HireSpot</strong>: 
						Don’t worry if you can’t finish your profile or 
						credentials right away. Click 'Finish Later' to 
						complete the form later time. Required fields 
						are marked with red asterisks (*).
					</p>
				</div>
				<div class="landing-page-candidates-how-it-works-steps">
					<div class="landing-page-candidates-how-it-works-step">
						<div class="landing-page-candidates-content-image-container">
							<div class="landing-page-candidates-how-works-image-container">
								<img src="{% static 'candidates/imgs/how-to/register.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-how-it-works-step-header">Register</h3>
						</div>
						<p class="landing-page-candidates-how-it-works-step-text">
							Congratulations on starting your new journey! Begin by 
							signing up with your basic information. If all goes smoothly, 
							you’ll be redirected to the login page to access your account and continue.
						</p>
					</div>
					<div class="landing-page-candidates-how-it-works-step">
						<div class="landing-page-candidates-content-image-container">
							<div class="landing-page-candidates-how-works-image-container">
								<img src="{% static 'candidates/imgs/how-to/login.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-how-it-works-step-header">Login</h3>
						</div>
						<p class="landing-page-candidates-how-it-works-step-text">
							Log in with the credentials you just created. Once entered correctly, 
							you’ll be redirected to your profile page to complete your details
							and continue the process.
						</p>
					</div>
					<div class="landing-page-candidates-how-it-works-step">
						<div class="landing-page-candidates-content-image-container">
							<div class="landing-page-candidates-how-works-image-container">
								<img src="{% static 'candidates/imgs/how-to/profile.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-how-it-works-step-header">Complete Profile</h3>
						</div>
						<p class="landing-page-candidates-how-it-works-step-text">
							Complete your profile details to help us match you with the best job opportunities. 
							Accurate and thorough information ensures more relevant matches, so fill in
							as many fields as you can.
						</p>
					</div>
					<div class="landing-page-candidates-how-it-works-step">
						<div class="landing-page-candidates-content-image-container">
							<div class="landing-page-candidates-how-works-image-container">
								<img src="{% static 'candidates/imgs/how-to/credential.png' %}" alt="">
							</div>
							<h3 class="landing-page-candidates-how-it-works-step-header">Add Credential</h3>
						</div>
						<p class="landing-page-candidates-how-it-works-step-text">
							Once your profile is complete, add your qualifications, 
							education, and work experience. Providing more details 
							helps us match you with the best job opportunities. 
							Use 'Add More' to include additional entries.
						</p>
					</div>
				</div>
				<a class="landing-page-candidates-how-it-works-cta-btn" href="{% url 'candidates:jobs' %}">Get Started Now</a>
			</div>
		</section>

		{% comment %} Section 3 {% endcomment %}
		<section class="landing-page-candidates-section">
			<div class="landing-page-candidates-testimonials">
				<h1 class="landing-page-candidates-testimonials-header">What Our Users Say</h1>
				<div class="landing-page-candidates-testimonials-container">
					<div class="landing-page-candidates-testimonial">
						<div class="landing-page-candidates-testimonial-avatar">
							<img src="{% static 'candidates/imgs/users/user1.webp' %}" alt="User image" />
						</div>
						<p class="landing-page-candidates-testimonial-text">
							"I found my dream job on HireSpot in less than a week. The platform's simplicity really made it easy to navigate."
						</p>
						<div class="landing-page-candidates-testimonial-user-role-container">
							<p class="landing-page-candidates-testimonial-name">James L.</p>
							<p class="landing-page-candidates-testimonial-role">Product Manager</p>
						</div>
					</div>
					<div class="landing-page-candidates-testimonial">
						<div class="landing-page-candidates-testimonial-avatar">
							<img src="{% static 'candidates/imgs/users/user2.webp' %}" alt="User image" />
						</div>
						<p class="landing-page-candidates-testimonial-text">
							"The job suggestions were perfectly tailored to my skills. I felt like HireSpot understood exactly what I needed."
						</p>
						<div class="landing-page-candidates-testimonial-user-role-container">
							<p class="landing-page-candidates-testimonial-name">Anna M.</p>
							<p class="landing-page-candidates-testimonial-role">UX Designer</p>
						</div>
					</div>
					<div class="landing-page-candidates-testimonial">
						<div class="landing-page-candidates-testimonial-avatar">
							<img src="{% static 'candidates/imgs/users/user3.webp' %}" alt="User image" />
						</div>
						<p class="landing-page-candidates-testimonial-text">
							"I appreciated the option to complete my profile later. It made the whole process less stressful and more flexible."
						</p>
						<div class="landing-page-candidates-testimonial-user-role-container">
							<p class="landing-page-candidates-testimonial-name">Matt P.</p>
							<p class="landing-page-candidates-testimonial-role">Software Engineer</p>
						</div>
					</div>
					<div class="landing-page-candidates-testimonial">
						<div class="landing-page-candidates-testimonial-avatar">
							<img src="{% static 'candidates/imgs/users/user4.webp' %}" alt="User image" />
						</div>
						<p class="landing-page-candidates-testimonial-text">
							"The job suggestions were perfectly tailored to my skills. I felt like HireSpot understood exactly what I needed."
						</p>
						<div class="landing-page-candidates-testimonial-user-role-container">
							<p class="landing-page-candidates-testimonial-name">Joana Guzman</p>
							<p class="landing-page-candidates-testimonial-role">Python Developer</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	  
{% endblock content %}
