{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Jobs
{% endblock title %}

{% block content %}
    <div class="jobs-container">
        <div class="jobs-row">
            {% block search_form %}
                {% include "candidates/candidates_job_search_form.html" %}
            {% endblock search_form %}
            <div class="jobs">
                {% for job in jobs %}
                    <div class="job">
                        <h3 class="job-title">{{ job.job_title }}</h3>
                        <div class='job-employer-address'>
                            <p class="job-employer-name">{{ job.employer.employer_name }}</p>
                            <p class="job-employer-city-state">
                                <span>{{ job.employer.city }},</span>
                                <span>{{ job.employer.state_or_province }}</span>
                            </p>
                            <p class="job-employer-country">{{ job.employer.country }}</p>
                        </div>
                        <p class="job-salary">${{ job.salary|floatformat:0 }}/month</p>
                        {% with request.resolver_match.route as route %}
                            <a class="see-job-detail-btn" href="{{ job.get_absolute_url }}?redirect=/{{ route }}">See Detail</a>
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

