{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Candidate Register
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="candidate-register-form-row">
        <div class="candidate-register-form-container">
            <div class="form-navbar">
                <a href="
                    {% if next %}
                        {{ next }}
                    {% else %}
                        {% url 'candidates:landing-page' %}
                    {% endif %}" 
                    class="logo-container"
                >
                    <span class="logo-header">HireSpot</span>
                </a>
                <button class="form-navlinks-toggle-btn">
                    <i class="fas fa-bars form-show-navlinks"></i>
                    <i class="fas fa-times form-remove-navlinks remove-form-navlinks-toggle-btn-child"></i>
                </button>
                {% with request.resolver_match.url_name as url_name %}
                    <div class="form-navlinks">
                        <a class='navlink' href="{% url 'candidates:landing-page' %}">Home</a>
                        <a class='navlink'href="{% url 'candidates:jobs' %}">
                            Jobs
                        </a>
                        <a class="
                            {% if url_name == 'candidate-add-career-detail' %}active-link{% endif %} navlink" 
                            href="{% url 'candidates:candidate-add-career-detail' %}"
                        >
                            Career Detail
                        </a>
                    </div>
                {% endwith %}
            </div>
            <div class="candidate-register-form-text-container">
                <h2 class="candidate-register-form-name">
                    Start Your Job Search Today!
                </h2>
                <p class="candidate-register-form-text">
                    Create your profile to explore job opportunities, 
                    and showcase your skills to top employers. 
                    It only takes a few minutes to set up and get noticed by recruiters.
                </p>
            </div>
            <form class="candidate-register-form" action="" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="candidate-qualification-input-row">
                    <h2>Qualification</h2>
                    <div class="qualification-form-container"></div>
                </div>
                <div class="candidate-education-input-row">
                    <h2>Education</h2>
                    <div class="education-form-container">
                    </div>
                    <button type="button" class="add-more education">
                        Add more education
                    </button>
                </div>
                <div class="candidate-experience-input-row">
                    <h2>Experience</h2>
                    <div class="experience-form-container">
                    </div>
                    <button type="button" class="add-more experience">
                        Add more experience
                    </button>
                </div>
                <button type='submit' class="candidate-register-form-btn">
                    <span class="candidate-profile-button-text">Save Application</span>
                    <span class="candidate-form-button-spinner hide-form-btn-content"></span>
                </button>
            </form>
            <a href="{% url 'candidates:jobs' %}" class="candidate-register-form-create-later">
                <span>Complete form later</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <script>

        let resume_url = '{{ resume }}'
    
        localStorage.setItem('resume', JSON.stringify({resume:resume_url}))
        
        {% comment %} const div = document.createElement('div')
        const newLabel = document.createElement('label')
        
        const label = profileInputRows.querySelector('label')
        const input = profileInputRows.querySelector('input')
        const anchor = profileInputRows.querySelector('a')

        div.setAttribute('class', 'profile-image-input-container')
        newLabel.textContent = 'Profile image:'
        newLabel.setAttribute('for', 'id_profile_image')
        
        label.textContent = 'Upload image'
        input.style.display = 'none'

        profileInputRows.innerHTML = ''

        anchor.textContent = `Current: ${anchor.textContent.split('/').slice(-1)}`

        label.classList.add('label-image-input-wrapper')
        label.removeAttribute('for')
        anchor.classList.add('current-image-url')

        label.append(input)
        div.append(label)
        div.append(anchor)

        profileInputRows.append(newLabel)
        profileInputRows.append(div) {% endcomment %}


    </script>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'candidates/candidate_register.js' %}"></script>
{% endblock js %}

{% block footer %}{% endblock footer %}