{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'candidates/candidates.css' %}">
{% endblock css %}

{% block title %}
    Jobs
{% endblock title %}

{% block content %}
    <h1>Jobs</h1>

    <div>
        {% for job in jobs %}
            <div>
                <p>Company: {{ job.employer.employer_name }}</p>
                <h3>Job Title: {{ job.job_title }}</h3>
                <p>Salary: {{ job.salary }}/month</p>
                <a href="{{ job.get_absolute_url }}?employer={{ job.employer.slug }}">See Job Detail</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'candidates/candidates.js' %}"></script>
{% endblock js %}