{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'candidates/candidates.css' %}">
{% endblock css %}

{% block title %}
    Jobs
{% endblock title %}

{% block content %}
    <div class="jobs-container">
        <div class="jobs-row">
            {% block search_form %}
                {% include "candidates/job_search_form.html" %}
            {% endblock search_form %}
            <div class="jobs">
                {% for job in jobs %}
                    <div class="job">
                        <h3 class="job-title">{{ job.job_title }}</h3>
                        <div class='job-employer-address'>
                            <p class="job-employer-name">{{ job.employer.employer_name }}</p>
                            <p class="job-employer-city-state">
                                <span>{{ job.employer.city }},</span>
                                <span>{{ job.employer.state_or_province }}</span>
                            </p>
                            <p class="job-employer-country">{{ job.employer.country }}</p>
                        </div>
                        <p class="job-salary">${{ job.salary|floatformat:0 }}/month</p>
                        {% with request.resolver_match.url_name as url_name %}
                            {% if not request.user.is_authenticated %}
                                <button type="button" class="job-user-not-authenticated">See Detail</button>
                            {% else %}
                                {% if candidate in job.applicants.all %}
                                    <button type="button" class="job-applied-btn">Applied</button>
                                {% else %}
                                    <a class="see-job-detail-btn" href="{{ job.get_absolute_url }}?redirect=/{{ url_name }}/">See Detail</a>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'candidates/candidates.js' %}"></script>
{% endblock js %}