/* LANDING PAGE */
/* Hero */
.employers-landing-page-hero-content-container {
    min-height: 60svh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url('imgs/employer_hero_img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-content: start;
    align-items: start;
}

.employers-landing-page-hero-contents {
    display: none;
}

.mobile-employers-landing-page-hero-contents {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    gap: 1.5rem;
    text-wrap: pretty;
    padding: 2rem 0;
}

.employers-landing-page-hero-text-content {
    display: grid;
    align-content: start;
    align-items: start;
    gap: 1.5rem;
}

.employers-landing-page-header {
    color: var(--green-10);
    max-width: 450px;
    font-size: clamp(2.3rem, 1dvw + 1.5rem, 3rem);
}

.employers-landing-page-hero-text {
    letter-spacing: 0.05rem;
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--black-30);
    max-width: 450px;
    text-wrap: pretty;
}

.employers-landing-page-hero-text > strong {
    color: var(--green-35)
}
 
.employers-landing-page-post-a-job-btn {
    font-weight: 500;
    color: var(--black-90);
    font-size: 1.1rem;
    padding: 1.1rem 2rem;
    border-radius: 30px;
    background: var(--cta);
    justify-self: start;
}
/* End of hero */

/* Landing page contents */

/* sction 1 */
.employers-landing-page-content-wrapper {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 3.5rem;
    padding: 2rem 0
}

.employers-landing-page-section:nth-child(even) {
    padding: 3.5rem 0;
    background: var(--black-95);
}

.employers-landing-page-content-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    align-items: start;
    align-content: start;
}

.employers-landing-page-content-header-text {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1rem
}

.employers-landing-page-content-header {
    font-size: clamp(1.8rem, 1vw + 1.5rem, 2.5rem);
    color: var(--blck-10);
    text-wrap: pretty;
}

.employers-landing-page-content-header-text > p {
    max-width: 500px;
    color: var(--black-20);
    letter-spacing: 0.04rem;
    line-height: 1.5;
    font-size: 1.1rem;
    text-wrap: pretty;
    text-align: start;
}

.employers-landing-page-content {
    display: grid;
    gap: 1rem;
}

.employers-landing-page-text-content {
    display: grid;
    align-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 25px;
    background: var(--accent);
}

.make-hiring-easy-text {
    gap: 0.3rem !important;
    background: var(--accent) !important;
}

.landing-page-employers-content-image-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.make-hiring-easy-image-container {
    width: 40px;
    margin-bottom: 0.5rem;
}

.make-hiring-easy-image-container > img {
    width: 40px;
    aspect-ratio: 1/1;
    display: block;
    height: auto;
}

.employers-landing-page-hiring-make-easy-header {
    color: var(--black-10);
    text-wrap: pretty;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.35rem);
    line-height: 1.2;
    font-weight: 700;
}

.employers-landing-page-hiring-make-easy-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-15);
    text-wrap: pretty;
}

.employers-landing-page-get-started-btn {
    font-weight: 500;
    color: var(--black-90);
    font-size: 1.1rem;
    justify-self: start;
    padding: 1.1rem 2rem;
    border-radius: 30px;
    background: var(--cta);
    transition: background 200ms linear;
}

@media (hover) {
    .employers-landing-page-get-started-btn:hover {
        background: var(--green-20);
    }
}

@media screen and (min-width: 900px) {
    .employers-landing-page-content-wrapper {
        gap: 7rem;
        padding: 3rem 0;
        padding-bottom: 6rem;
    }

    .employers-landing-page-section:nth-child(even) {
        padding: 7rem 0;
        background: var(--black-95);
    }
}
/* end of section 1 */

/* section 2 */
.employers-why-choose-hirespot {
    gap: 0.5rem !important;
    background: white !important;
}

.employers-landing-page-why-choose-header {
    color: var(--black-10);
    text-wrap: pretty;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.35rem);
    line-height: 1.2;
    font-weight: 700;
}

.employers-landing-page-why-choose-text {
    color: var(--black-20);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    text-wrap: pretty;
}

@media screen and (min-width: 1200px) {
    .employers-landing-page-section:nth-child(2) > 
    .employers-landing-page-content-container >
    .why-employers-choose-hirespot {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

/* end of section 2 */

/* Section 3 */
.employers-landing-page-employer-image-conainer {
    width: 120px;
    border-radius: 50%;
    background: hsl(2, 100%, 80%);
    border-left: 9px solid hsl(2, 100%, 80%);
}

.employers-landing-page-employer-image-conainer > img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.employers-landing-page-trusted-by-employers-header {
    color: var(--black-10);
    text-wrap: pretty;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.35rem);
    line-height: 1.2;
    font-weight: 700;
}

.employers-landing-page-trusted-by-employers-text {
    color: var(--black-15);
    line-height: 1.4;
    letter-spacing: 0.04rem;
    text-wrap: pretty
}

.employers-landing-page-employer-name {
    color: var(--black-10);
    font-weight: 700;
    font-size: 0.95rem;
    display: grid;
    align-items: start;
    align-content: start;
}

.employers-landing-page-employer-name > span:last-child {
    font-weight: 400;
}
/* end of section 3 */

@media screen and (min-width: 700px) {
    .employers-landing-page-hero-content-container {
        min-height: 80dvh;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
            url('imgs/employer_hero_img.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: grid;
        align-content: start;
        align-items: start;
    }

    .mobile-employers-landing-page-hero-contents {
        display: none;
    }

    .employers-landing-page-hero-contents {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        align-content: start;
        gap: 1.5rem;
        text-wrap: pretty;
    }

    .employers-landing-page-hero-text-content {
        margin-top: 6rem;
    }

    .employers-landing-page-header {
        color: white;
        font-size: 3rem;
        max-width: 500px;
    }

    .employers-landing-page-hero-text {
        color: var(--black-80);
        font-size: 1.2rem;
        line-height: 1.5;
        max-width: 550px;
    }

    .employers-landing-page-post-a-job-btn {
        margin-top: 1.5rem;
    }

    .employers-landing-page-content {
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* END EMPLOYERS OF LANDING PAGE */

/* EMPLOYER REGISTER */
.employer-register-form-row {
    min-height: 100svh;
    display: grid;
    align-content: center;
    padding: 2rem 0;
}

.employer-register-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.employer-register-form-text-container {
    display: grid;
    align-content: start;
    gap: 0.8rem;
    text-align: center;
}

.employer-register-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.employer-register-form-text {
    letter-spacing: 0.03rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    font-size: 1.1rem;
    margin: 0 auto;
    text-wrap: pretty;
}

.employer-register-form {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--black-80);
    border-radius: 8px;
    background: white;
}

.employer-image-input-container {
	border: 1px solid var(--black-80);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.5rem;
    overflow: hidden;
}

.employer-logo-image-wrapper {
	color: white;
    padding: 0.6rem 1rem;
    background: var(--black-30);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.employer-log-url {
	color: var(--green-30);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.chosen-company-logo {
    color: var(--black-30);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.chosen-company-logo > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chosen-company-logo > 
.remove-company-logo {
    line-height: 0;
}

.employer-register-form > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-register-form > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.employer-register-form > p > select,
.employer-register-form > p > textarea,
.employer-register-form > p > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 5px;
    color: var(--black-30);
    letter-spacing: 0.03rem;
    background: white;
}

.employer-register-form > p > select {
    width: 100%;
    box-sizing: border-box;
}

.employer-register-form > p > textarea {
    height: 150px;
    max-height: 200px;
}

.employer-register-form-btn {
    padding: 0.9rem 1.5rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 200ms linear;
}

.employer-register-form-create-later {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

@media (hover) {
    .employer-register-form-btn:hover {
        background: var(--green-40)
    }

    .employer-register-form-create-later:hover {
        color: var(--black-20);
    }
}

@media screen and (min-width:700px) {
    .employer-register-form-row {
        padding: 3rem 0;
    }

    .employer-register-form-text-container {
        margin-top: 2rem;
    }
}

/* POST JOB */
.post-job-form-row {
    min-height: 100svh;
    display: grid;
    align-content: start;
    padding: 2rem 0;
}
.post-job-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.post-job-form-text-container {
    display: grid;
    gap: 0.8rem;
    text-align: center;
}

.post-job-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.post-job-form-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    text-wrap: pretty;
    margin: 0 auto;
    font-size: 1.1rem;
}

.post-job-form {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.post-job-form > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.post-job-form > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}
.post-job-form > p > select,
.post-job-form > p > textarea,
.post-job-form > p > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 5px;
    color: var(--black-20);
    letter-spacing: 0.03rem;
    background: white;
}

.post-job-form > p > select {
    width: 100%;
    box-sizing: border-box;
}

.post-job-form > p > textarea {
    height: 150px;
    max-height: 200px;
}

.post-job-form-submit-job-btn {
    padding: 0.9rem 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 200ms linear;
}

.post-job-form-post-job-later {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

@media (hover) {
    .post-job-form-submit-job-btn:hover {
        background: var(--green-40)
    }

    .post-job-form-post-job-later:hover {
        color: var(--black-20);
    }
}


/* JOB DETAIL */
.job-detail-container {
    min-height: 100dvh;
    padding: 2rem 0;
}

.job-detail-row {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2rem;
}

.job-detail-redirect {
    color: var(--black-30);
    letter-spacing: 0.03rem;
    justify-self: start;
}

@media (hover) {
    .job-detail-redirect:hover {
        color: var(--green-30);
    }
}

.job-detail {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.job-detail-header-container {
    display: grid;
    align-content: start;
    gap: 0.3rem;
}

.job-detail-job-title {
    color: var(--green-10);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.7rem;
}

.job-detail-job-title > span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-40);
    font-size: 0.9rem;
}

.job-detail-job-info-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.job-detail-employer-logo-container {
    width: 80px;
    height: 80px;
}

.job-detail-employer-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.job-detail-address {
    display: grid;
    align-content: start;
    gap: 0.2rem
}

.job-detail-employer-name {
    color: var(--green-10);
    font-weight: 600;
}

.job-detail-employer-address,
.job-detail-employer-state-country {
    font-size: 0.9rem;
    color: var(--black-20)
}

.job-pay-rate-job-type-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.job-detail-job-posted,
.job-pay-type,
.job-pay-rate {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.job-detail-job-posted > h4,
.job-pay-type > h4,
.job-pay-rate > h4 {
    color: var(--green-10);
}

.job-detail-job-posted,
.job-detail-pay-rate,
.job-detail-salary {
    color: var(--black-20)
}

.job-description-container,
.job-qualification-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.job-description-header,
.job-qualification-header {
    color: var(--green-10);
    font-size: 1rem;
}

.job-description,
.job-qualification {
    line-height: 1.4;
    color: var(--black-20);
    letter-spacing: 0.03rem;
    line-height: 1.4;
}

.job-detail-job-applicant-container {
    position: relative;
    display: grid;
    align-content: start;
    justify-self: start;
    gap: 0.5rem;
}

.job-detail-job-applicant-container >
.employer-dashboard-employer-job-applicants {
    min-width: 140px;
    top: calc(100% + 5px)
}

.job-detail-job-applicants {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.job-detail-job-applicant {
    display: grid;
    align-content: start;
}

.job-detail-job-applicant-name {
    color: var(--green-30);
    text-decoration: underline;
    font-size: 0.9rem;
}

.job-detail-not-authenticated-btn,
.job-detail-applied-btn {
    justify-self: start;
    padding: 0.7rem 1.5rem;
    border: none;
    background: var(--black-70);
    color: var(--black-40);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
}

.job-detail-apply-btn-container {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.job-detail-update-btn,
.job-detail-apply-btn {
    padding: 0.7rem 1.5rem;
    background: var(--cta);
    color: white;
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background 200ms linear;
}

.job-detail-update-btn {
    justify-self: start;
}

.job-detail-save-job-btn {
    padding: 0.5rem 1.5rem;
    outline: 2px solid var(--cta);
    color: var(--black-20);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background 200ms linear;
}

@media (hover) {
    .job-detail-apply-btn:hover {
        background: var(--green-20)
    }

    .job-detail-save-job-btn:hover {
        background: var(--cta);
        color: white;
    }
}

@media screen and (min-width: 700px) {
    .job-detail {
        border: 1px solid var(--black-85);
        background: var(--black-95);
        padding: 2rem;
        border-radius: 30px;
    }

    .job-description,
    .job-qualification {
        max-width: 500px;
    }
}

@media screen and (min-width: 900px) {
    .job-detail-container {
        padding: 6rem 0;
        padding-bottom: 8rem;
    }

    .job-detail-row {
        gap: 4rem;
    }
}

/* EMPLOYER DASHBOARD */
.employer-dashboard-container {
    padding: 2rem 0;
}

.employer-dashboard-row {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
}

.employer-dashboard-header {
    text-align: center;
    color: var(--black-10)
}

.employer-dashboard-employers-container {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.employer-dashboard-employers-info-wrapper {
    display:grid;
    gap:0.5rem;
    margin-bottom: 0.5rem;
}

.employer-dashboard-employers-info-wrapper:last-child {
    margin-bottom: 0;
}

.employer-dashboard-employer {
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.employer-dashboard-logo-address-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.employer-dashboard-logo-container {
    width: 80px;
    height: 80px;
}

.employer-dashboard-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.employer-dashboard-address-container {
    display: grid;
    align-content: start;
    gap: 0.1rem
}

.employer-dashboard-logo-name {
    color: var(--green-30);
    font-weight: 500;
}

@media (hover) {
    .employer-dashboard-logo-name:hover {
        color: var(--green-20)
    }
}

.employer-dashboard-city,
.employer-dashboard-country {
    font-size: 0.9rem;
    color: var(--black-20)
}

.employer-dashboard-jobs-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-dashboard-jobs-header {
    color: var(--black-10);
    font-weight: 500;
    line-height: 1;
}

.employer-dashboard-employer-jobs {
    display: grid;
    align-content: start;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.employer-dashboard-employer-job {
    position: relative;
    display: grid;
    align-content: start;
    gap: 0.8rem;
    border-radius: 8px;
    padding: 0.8rem;
    border: 1px solid var(--black-80)
}

.employer-dashboard-employer-job-title-date {
    display: grid;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    overflow: hidden;
}

.employer-dashboard-employer-job-title {
    color: var(--green-30);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-transform:capitalize;
    transition: font-weight 200ms linear;
}

@media (hover) {
    .employer-dashboard-employer-job-title:hover {
        color: var(--green-20);
    }
}

.employer-dashboard-employer-job-date {
    font-size: 0.85rem;
    color: var(--black-30);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.employer-dashboard-employer-job-applicants-container {
    justify-self: start;
    display: grid;
    align-content: start;
    gap: 0.3rem;
}

.employer-dashboard-employer-job-applicants-header {
    font-size: 0.9rem;
    color: var(--black-20);
    font-weight: 500;
    cursor: pointer;
}

@media (hover) {
    .employer-dashboard-employer-job-applicants-header:hover {
        color: var(--green-30)
    }
}

.employer-dashboard-employer-job-applicants-header > i {
    font-size: 0.85rem;
    margin-left: 0.2rem;
}

.employer-dashboard-employer-job-applicants {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;

    display: grid;
    align-self: start;
    gap: 0.8rem;
    transition: opacity 200ms linear;
}

.show-employer-dashboard-employer-job-applicants {
    opacity: 1;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 10px -3px var(--black-40);
}

.employer-dashboard-employer-job-applicant {
    font-size: 0.9rem;
    color: var(--green-25);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    transition: font-weight 200ms linear;
}

@media (hover) {
    .employer-dashboard-employer-job-applicant:hover {
        color: var(--green-35);
    }
}

@media screen and (min-width:700px) {
    .employer-dashboard-container {
        padding: 3rem 0;
    }
}

/* EMPLOYER DETAIL */
.employer-company-hero-img {
    min-height: 60dvh;
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.5)), url('imgs/company_detail.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.employer-company-hero-text-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: grid;
    align-content: start;
    align-items: start;
    gap: 1rem;
}

.employer-company-hero-header {
    letter-spacing: 0.03rem;
    color: white;
    text-wrap: pretty;
    font-size: clamp(2.3rem, 1dvw + 1.8rem, 3rem);
}

.employer-company-hero-text {
    color: var(--black-90);
    text-wrap: pretty;
    max-width: 600px;
    letter-spacing: 0.04rem;
    line-height: 1.4;
    font-size: 1.1rem;
}


.employer-detail-container {
    padding: 3rem 0;
}

.employer-detail-row {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.employer-detail-redirect {
    color: var(--black-30);
    letter-spacing: 0.03rem;
    justify-self: start;
}

@media (hover) {
    .employer-detail-redirect:hover {
        color: var(--green-30);
    }
}

.employer-detail-header {
    color: var(--black-10);
    margin-top: 1rem;
}

.employer-detail-employer {
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.employer-detail-employer-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.employer-detail-employer-logo-container {
    width: 80px;
    height: 80px
}

.employer-detail-employer-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.employer-detail-employer-name-address {
    display: grid;
    align-content: start;
    gap: 0.1rem
}

.employer-detail-employer-name {
    color: var(--black-10);
    font-weight: 500;
}

.employer-detail-employer-address,
.employer-detail-employer-country {
    font-size: 0.9rem;
    color: var(--black-20)
}

.employer-detail-employer-about {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-detail-employer-about-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
}

.employer-detail-employer-about-text {
    color: var(--black-30);
    letter-spacing: 0.03rem;
    line-height: 1.4;
    text-wrap: pretty;
}

.employer-detail-employer-website {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-detail-employer-website-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
    overflow: pretty;
}

.employer-detail-employer-website-url {
    color: var(--green-30);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

@media (hover) {
    .employer-detail-employer-website-url:hover {
        color: var(--green-20);
    }
}

@media screen and (min-width: 700px) {
    .employer-company-hero-header {
        text-align: center;
    }
    
    .employer-company-hero-text {
        text-align: center;
        margin: 0 auto;
    }
}