/* LANDING PAGE */
.employers-landing-page-content-container {
    min-height: 100svh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url('imgs/employer_hero_img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    align-content: center;
}

.employers-landing-page-contents {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    gap: 1.5rem;
    text-align: center;
    text-wrap: pretty;
    padding: 3rem 0;
}

.employers-landing-page-header {
    color: var(--black-90);
    font-size: 3rem;
}

.employers-landing-page-text {
    color: var(--black-80);
    font-size: 1.2rem;
    line-height: 1.5;
}

.employers-landing-page-text > strong {
    color: var(--green-35)
}
 
.employers-landing-page-post-a-job-btn {
    font-weight: 500;
    margin-top: 1rem;
    color: var(--black-90);
    font-size: 1.2rem;
    justify-self: center;
    padding: 1.2rem 4rem;
    border-radius: 5px;
    background: rgb(0, 157, 0);
}

/* EMPLOYER REGISTER */
.employer-register-form-row {
    min-height: 100svh;
    display: grid;
    align-content: center;
    padding: 2rem 0;
}
.employer-register-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.employer-register-form-text-container {
    display: grid;
    align-content: start;
    gap: 0.8rem;
}

.employer-register-form-name {
    color: var(--black-20);
    font-size: 1.4rem;
    font-weight: 600;
}

.employer-register-form-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 550px;
    text-wrap: balance;
}

.employer-register-form {
    display: grid;
    align-content: start;
    gap: 1.2rem;
    padding: 1.2rem;
    border: 1px solid var(--black-80);
    border-radius: 8px;
}

.post-job-form-select-container > select {
    border: 1px solid var(--black-80);
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background: transparent;
    font-size: 1rem;
    color: var(--black-20);
}

.post-job-form-select-container > select:focus {
    outline: 3px solid var(--green-60);
}

/* .register-from > *:nth-child(6) {
    display: none;
} */

.employer-register-form > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-register-form > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.employer-register-form > p > textarea,
.employer-register-form > p > input {
    border: 1px solid var(--black-80);
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: var(--black-20);
    letter-spacing: 0.03rem;
}

.employer-register-form > p > textarea {
    height: 150px;
    max-height: 200px;
}

.employer-register-form-btn {
    padding: 0.9rem 1.5rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 200ms linear;
}

.employer-register-form-create-later {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

@media (hover) {
    .employer-register-form-btn:hover {
        background: var(--green-40)
    }

    .employer-register-form-create-later:hover {
        color: var(--black-20);
    }
}

/* POST JOB */
.post-job-form-row {
    min-height: 100svh;
    display: grid;
    align-content: start;
    padding: 2rem 0;
}
.post-job-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.post-job-form-text-container {
    display: grid;
    gap: 0.8rem
}

.post-job-form-name {
    color: var(--black-20);
    font-size: 1.4rem;
    font-weight: 600;
}

.post-job-form-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 550px;
    text-wrap: balance;
}

/* .register-from > *:nth-child(6) {
    display: none;
} */

.post-job-form {
    display: grid;
    align-content: start;
    gap: 1.2rem;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid var(--black-80)
}

.post-job-form > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.post-job-form > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.post-job-form > p > textarea,
.post-job-form > p > input {
    border: 1px solid var(--black-80);
    padding: 0.8rem 1rem;
    border-radius: 5px;
    color: var(--black-20);
    letter-spacing: 0.03rem;
}

.post-job-form > p > textarea {
    height: 150px;
    max-height: 200px;
}

.post-job-form-submit-job-btn {
    padding: 0.9rem 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 200ms linear;
}

.post-job-form-post-job-later {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

@media (hover) {
    .post-job-form-submit-job-btn:hover {
        background: var(--green-40)
    }

    .post-job-form-post-job-later:hover {
        color: var(--black-20);
    }
}


/* JOB DETAIL */
.job-detail-container {
    padding: 2rem 0;
}

.job-detail-row {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.job-detail {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.job-detail-job-title {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-size: 2.2rem;
    font-size: clamp(1.5rem, 1svw + 1.4rem, 2.2rem);
}

.job-detail-job-info-container {
    display: grid;
    align-content: start;
    gap: 0.3rem;
    font-size: 0.9rem;
    color: var(--black-20)
}

.job-detail-employer-logo-name {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.job-detail-employer-logo {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.job-detail-employer-logo > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.job-detail-salary {
    justify-self: start;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    background: var(--black-90)
}

.job-qualification-container {
    margin-top: 1rem;
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.job-qualification-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-size: 1rem;
}

.job-qualification {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
}

.job-detail-not-authenticated-btn,
.job-detail-applied-btn {
    margin-top: 1rem;
    justify-self: start;
    padding: 0.7rem 1.5rem;
    border: none;
    background: var(--black-70);
    color: var(--black-40);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
}

.job-detail-apply-btn {
    margin-top: 1rem;
    justify-self: start;
    padding: 0.7rem 1.5rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background 100ms linear;
}

@media (hover) {
    .job-detail-apply-btn:hover {
        background: var(--green-40)
    }
}

/* EMPLOYER DASHBOARD */
.employer-dashboard-container {
    padding: 3rem 0;
}
.employer-dashboard-row {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
}

.employer-dashboard-header {
    text-align: center;
    color: var(--black-10)
}

.employer-dashboard-employers-container {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.employer-dashboard-employer {
    display: grid;
    align-content: start;
    gap: 1.8rem;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid var(--black-80)
}

.employer-dashboard-logo-address-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.employer-dashboard-logo-container {
    width: 60px;
    height: 60px;
}

.employer-dashboard-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.employer-dashboard-address-container {
    display: grid;
    align-content: start;
    gap: 0.1rem
}

.employer-dashboard-logo-name {
    color: var(--black-10);
    font-weight: 500;
}

.employer-dashboard-city,
.employer-dashboard-country {
    font-size: 0.85rem;
    color: var(--black-20)
}

.employer-dashboard-employer-about {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-dashboard-employer-about-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
}

.employer-dashboard-employer-about-text {
    color: var(--black-30);
    letter-spacing: 0.04rem;
    line-height: 1.4;
    text-wrap: balance;
}

.employer-dashboard-jobs-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-dashboard-jobs-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.employer-dashboard-employer-jobs {
    display: grid;
    align-content: start;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.employer-dashboard-employer-job {
    display: grid;
    align-content: start;
    gap: 0.8rem;
    border-radius: 8px;
    padding: 0.8rem;
    border: 1px solid var(--black-80)
}

.employer-dashboard-employer-job-title-date {
    display: grid;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.employer-dashboard-employer-job-title {
    color: var(--green-30);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.employer-dashboard-employer-job-date {
    font-size: 0.85rem;
    color: var(--black-30)
}

.employer-dashboard-employer-job-applicants-container {
    position: relative;
    justify-self: start;
    display: grid;
    align-content: start;
    gap: 0.3rem;
}

.employer-dashboard-employer-job-applicants-header {
    font-size: 0.9rem;
    color: var(--black-20);
    font-weight: 500;
    cursor: pointer;
}

@media (hover) {
    .employer-dashboard-employer-job-applicants-header:hover {
        color: var(--green-30)
    }
}

.employer-dashboard-employer-job-applicants-header > i {
    font-size: 0.85rem;
    margin-left: 0.2rem;
}

.employer-dashboard-employer-job-applicants {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 0;
    width: 115px;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;

    display: grid;
    align-self: start;
    gap: 0.5rem;
    transition: opacity 200ms linear
}

.show-employer-dashboard-employer-job-applicants {
    opacity: 1;
    height: auto;
    padding: 0.8rem;
    border-radius: 5px;
    background: white;
    text-decoration: underline;
    box-shadow: 2px 2px 10px -3px var(--black-30);
}

.employer-dashboard-employer-job-applicant {
    font-size: 0.9rem;
    color: var(--green-30);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* EMPLOYER DETAIL */
.employer-detail-container {
    padding: 3rem 0;
}

.employer-detail-row {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.employer-detail-redirect {
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

.employer-detail-header {
    color: var(--black-10);
    margin-top: 1rem;
}

.employer-detail-employer {
    display: grid;
    align-content: start;
    gap: 1.8rem;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid var(--black-80)
}

.employer-detail-employer-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.employer-detail-employer-logo-container {
    width: 60px;
    height: 60px
}

.employer-detail-employer-logo-container > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.employer-detail-employer-name-address {
    display: grid;
    align-content: start;
    gap: 0.1rem
}

.employer-detail-employer-name {
    color: var(--black-10);
    font-weight: 500;
}

.employer-detail-employer-address,
.employer-detail-employer-country {
    font-size: 0.85rem;
    color: var(--black-20)
}

.employer-detail-employer-about {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-detail-employer-about-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
}

.employer-detail-employer-about-text {
    color: var(--black-30);
    letter-spacing: 0.04rem;
    line-height: 1.4;
    text-wrap: balance;
}

.employer-detail-employer-posted-job-container {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.employer-detail-employer-posted-job-header {
    color: var(--black-10);
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.employer-detail-jobs-container {
    display: grid;
    align-content: start;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.employer-detail-job {
    display: grid;
    align-content: start;
    gap: 0.8rem;
    border-radius: 8px;
    padding: 0.8rem;
    border: 1px solid var(--black-80)
}

.employer-detail-job-title {
    color: var(--green-30);
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.employer-detail-job-date {
    font-size: 0.85rem;
    color: var(--black-30)
}