{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "accounts/accounts.css" %}">
{% endblock css %}

{% block title %}
    Login
{% endblock title %}


{% block content %}
    <div class="register-form-row">
        <div class="register-form-container">
            <h1 class="register-form-brand-name">Django Job Portal</h1>
            <h2 class="register-form-name">Sign in</h2>
            {% if error %} <p class='errorlist'>{{ error }}</p> {% endif %}
            <form class="register-from" action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="register-form-sign-up-btn">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock content %}