{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="login-form-row">
        <div class="login-form-container">
            <a href="{% url 'candidates:landing-page' %}" class="logo-container">
                <span class="logo-header">HireSpot</span>
            </a>
            <h2 class="login-form-name">
                Welcome Back!
            </h2>
            <div class="login-form-wrapper">
                {% if error %} <p class='errorlist'>{{ error }}</p> {% endif %}
                <form class="login-from" action="" method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="login-form-login-btn">
                        Sign In
                    </button>
                </form>
            </div>
            <div class="login-form-not-yet-registered">
                <p class="">Don't have an account?</p>
                <a class="" href="{% url 'accounts:register' %}">
                    <span>Sign up</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            <div class="login-form-underline">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <a href="{% url "social:begin" "google-oauth2" %}" class="login-form-google-link">
                <img src="{% static "accounts/imgs/google.png" %}" alt="">
                <span>Continue with Google</span>
            </a>
        </div>
    </div>
{% endblock content %}

{% block js %}

    <script>
        
        const loginForm = document.querySelector('.login-from')
        const loginFormlabels = Array.from(loginForm.querySelectorAll('label'))

        loginFormlabels.forEach((label) => {
            const textValue = label.textContent.slice(0, -1)
            label.innerHTML = `
                <span>${textValue}</span>
                <span style="color: red">*</span>
            `
        })

    </script>

{% endblock js %}

{% block footer %}{% endblock footer %}