{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "accounts/accounts.css" %}">
{% endblock css %}

{% block title %}
    Logout
{% endblock title %}

{% block nav %}{% endblock nav %}

{% block content %}
    <div class="logout-form-row">
        <div class="logout-form-container">
            <h1 class="logout-form-brand-name">
                <a href="{% url 'jobs:landing-page' %}">HireSpot</a>
            </h1>
            <form class="logout-form" action="" method="POST">
                <h2 class="logout-form-name">Logout</h2>
                <p class="logout-form-logout-warning">Are you sure you want to logout?</p>
                {% csrf_token %}
                <a href="{% url 'jobs:jobs' %}" class="logout-form-continue-browsing-btn" type="submit">
                    Contiune browsing
                </a>
                <button class="logout-form-logout-btn" type="submit">
                    Log me out
                </button>
            </form>
        </div>
    </div>
{% endblock content %}