{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Profile Update
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="profile-form-row">
        <div class="profile-form-container">
            <a 
                href="{% if next %}{{ next }}{% else %}{% url 'candidates:landing-page' %}{% endif %}" 
                class="logo-container"
            >
                <span class="logo-header">HireSpot</span>
            </a>
            <div class="profile-form-header-text-container">
                <h2 class="profile-form-name">
                    Update Your Profile
                </h2>
                <p class="profile-form-text">
                    Boost your job search. Complete your profile for more accurate matches.
                </p>
            </div>
            <div class="profile-form-wrapper">
                <h3 class="profile-form-header">Profile</h3>
                <form class="profile-form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-input-container">
                        {% for field in form %}
                            <div class="profile-input-row">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <ul class='errorlist'>
                                            <li>{{ error}}</li>
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                                {{ field.label_tag }}
                                {{ field }}
                                <span class="helptext">{{ field.help_text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="profile-form-update-btn" type="submit">
                        <span>Next</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
    <script type='text/javascript'>
        const profileFormInputContainer = document.querySelector('.profile-input-container')
        const profileFormInputRows = Array.from(document.querySelectorAll('.profile-input-row'))
        const profileUpdateBtn = document.querySelector('.profile-form-update-btn')
        const profileFormInputArray = new Array()
        let div = document.createElement('div')

        profileFormInputRows.forEach((row, index) => {
            if (index === 7) {
                profileFormInputArray.push(div)
                div = document.createElement('div')
                div.append(row)
            }
            else {
                div.append(row)
            }
        })

        div.append(profileUpdateBtn)
        profileFormInputArray.push(div)
        profileFormInputContainer.innerHTML = ''

        profileFormInputArray.forEach((div) => {
            div.setAttribute('class', 'inputs')
            profileFormInputContainer.append(div)
        })
        
    </script>


    <script type="text/javascript" src="{% static 'accounts/profile_update_form.js' %}"></script>
{% endblock js %}