{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <div class='candidate-profile-info-container'>
        <div class='candidate-profile-container'>
            <section class='candidate-profile-row'>
                <div id="profile" class='profile-info'>
                    <div class="profile-image-container">
                        <img src="{{ profile.get_profile_image_url }}" alt="">
                    </div>    
                    <div class="profile-user-info-container">
                        <div class="profile-name-container">
                            <h2 class="profile-name">
                                {% if profile.first_name and profile.last_name %}
                                    {{ profile.first_name }} {{ profile.last_name }}
                                {% else %}
                                    {{ profile.user.username }}
                                {% endif %}
                            </h2>
                            {% if request.user == profile.user %}
                                {% comment %} <a href="{% url 'candidates:candidate-update-profile-info' profile.slug %}?data_type=profile"
                                    class="candidate-profile-form-update"
                                >
                                    <span>Update</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a> {% endcomment %}
                                <a href="{% url 'accounts:profile-update' profile.slug %}"
                                    class="candidate-profile-form-update"
                                >
                                    <span>Update</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="profile-user-info-row">
                            <i class="fa-solid fa-address-card"></i>
                            {% if profile.address or profile.city or profile.country%}
                                <span>
                                    {{ profile.address }}, 
                                    {{ profile.city }}, 
                                    {{ profile.country }}, 
                                    {{ profile.post_code_or_zip_code }}
                                </span>
                            {% else %}
                                <span>Not available</span>
                            {% endif %}
                        </div>
                        <div class="profile-user-info-row">
                            <i class="fa-solid fa-envelope"></i>
                            {% if profile.email %}
                                <span>{{ profile.email }}</span>
                            {% else %}
                                <span>Not available</span>
                            {% endif %}
                        </div>
                        <div class="profile-user-info-row">
                            <i class="fa-solid fa-phone"></i>
                            {% if profile.phone_number %}
                                <span>{{ profile.phone_number }}</span>
                            {% else %}
                                <span>Not available</span>
                            {% endif %}
                        </div>
                        <div class="profile-user-info-row">
                            <p>Applied:</p>
                            {% if not profile.applied_jobs.count %}
                                <span>Not available</span>
                            {% else %}
                                <div class="profile-applied-jobs-container">
                                    {% for job in profile.applied_jobs.all %}
                                        <a href="{{ job.applied_job.get_absolute_url }}?redirect={% url 'accounts:profile' %}">
                                            {{ job.applied_job.job_title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="profile-user-info-row">
                            <p>Saved:</p>
                            {% if not profile.saved_jobs.count %}
                                <span>Not available</span>
                            {% else %}
                                <div class="profile-saved-jobs-container">
                                    {% for job in profile.saved_jobs.all%}
                                        <a href="{{ job.saved_job.get_absolute_url }}?redirect={% url 'accounts:profile' %}">
                                            {{ job.saved_job.job_title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section id="qualification" class="candidate-qualification-row">
            <div class="candidate-qualification-header-container">
                <h2 class="candidate-qualification-header">Qualification</h2>
                {% if not qualification and request.user == profile.user %}
                    <a href="{% url 'candidates:candidate-add-career-detail' %}?scroll_to=qualification"
                        class="candidate-profile-form-add"
                    >
                        <span>Add qualification</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                {% else %}
                    {% if request.user == qualification.profile.user %}
                        <a href="
                            {% url 'candidates:candidate-update-profile-info' qualification.slug %}?data_type=qualification"
                            class="candidate-profile-form-update"
                        >
                            <span>Update</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            {% if qualification %}
                <div class="candidate-qualification-container">
                    <div class="candidate-qualification">
                        <h5 class="qualification-sub-header">Industry:</h5>
                        {% if qualification.industry %}
                            <span>{{ qualification.industry|capfirst }}</span>
                        {% else %}
                            <span>Not available</span>
                        {% endif %}
                    </div>
                    <div class="candidate-qualification">
                        <h5 class="qualification-sub-header">Job title:</h5>
                        {% if qualification.job_title %}
                            <span>{{ qualification.job_title }}</span>
                        {% else %}
                            <span>Not available</span>
                        {% endif %}
                    </div>
                    <div class="candidate-qualification">
                        <h5 class="qualification-sub-header">Resume:</h5>
                        {% if resume %}
                            <a class="candidate-qualification-resume" href="{{ qualification.resume.url }}"  target="_blank">{{ resume|lower }}</a>
                        {% else %}
                            <span>Not available</span>
                        {% endif %}
                    </div>
                    <div class="candidate-qualification">
                        <h5 class="qualification-sub-header">Skills:</h5>
                        {% if skills %}
                            <div class="candidate-qualification-skills">
                                {% for skill in skills %}
                                    <span class="candidate-qualification-skill">{{ skill }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span>Not available</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </section>
        <div class="candidate-education-container">
            <section id="education" class="candidate-education-row">
                <div class="candidate-education-header-container">
                    <h2 class="candidate-education-header">Education</h2>
                    {% if request.user == profile.user %}
                        <a class="candidate-profile-form-add" href="{% url 'candidates:candidate-add-career-detail' %}?scroll_to=education">
                            <span>Add education</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
                {% if educations %}
                    <div class="candidate-educations">
                        {% for edu in educations %}
                            <div class="candidate-education">
                                <div class="candidate-education-text-container">
                                    <div class="candidate-education-text-wrapper">
                                        <h3 class="candidate-education-institution">{{ edu.institution }}</h3>
                                    </div>
                                    <div class="candidate-education-text-wrapper">
                                        <h5 class="candidate-education-text">Major:</h5>
                                        <p>{{ edu.major }}</p>
                                    </div>
                                    <div class="candidate-education-text-wrapper">
                                        <h5 class="candidate-education-text">Degree:</h5>
                                        <p>{{ edu.degree }}</p>
                                    </div>
                                    <div class="candidate-education-text-wrapper">
                                        <h5 class="candidate-education-text">Start date:</h5>
                                        <p>{{ edu.start_date }}</p>
                                    </div>
                                    <div class="candidate-education-text-wrapper">
                                        <h5 class="candidate-education-text">End date:</h5>
                                        <p>{{ edu.completion_date }}</p>
                                    </div>
                                </div>
                                {% if request.user == qualification.profile.user %}
                                    <div class="candidate-education-btns">
                                        <a href="{% url 'candidates:candidate-update-profile-info' edu.slug %}?data_type=education" 
                                            class="candidate-profile-form-update"
                                        >
                                            Update
                                        </a>
                                        <a href="{% url 'candidates:candidate-update-profile-info' edu.slug %}?data_type=education" 
                                            class="candidate-profile-form-remove"
                                        >
                                            Remove
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        </div>
        <section id="experience" class="candidate-experience-row">
            <div class="candidate-experience-header-container">
                <h2 class="candidate-experience-header">Experience</h2>
                {% if request.user == profile.user %}
                    <a class="candidate-profile-form-add"
                        href="{% url 'candidates:candidate-add-career-detail' %}?scroll_to=experience"
                    >
                        <span>Add experience</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
            {% if experiences %}
                <div class="candidate-experiences">
                    {% for exp in experiences %}
                        <div class="candidate-experience">
                            <div class="candidate-experience-text-container">
                                <div class="candidate-experience-text-wrapper">
                                    <h3 class="candidate-experience-company">{{ exp.company_name }}</h3>
                                </div>
                                <div class="candidate-experience-text-wrapper">
                                    <h5 class="candidate-experience-text">Position:</h5>
                                    <p>{{ exp.position }}</p>
                                </div>
                                <div class="candidate-experience-text-wrapper">
                                    <h5 class="candidate-experience-text">Start date:</h5>
                                    <p>{{ exp.start_date }}</p>
                                </div>
                                <div class="candidate-experience-text-wrapper">
                                    <h5 class="candidate-experience-text">End date:</h5>
                                    <p>{{ exp.end_date }}</p>
                                </div>
                            </div>
                            {% if request.user == qualification.profile.user %}
                                <div class="candidate-experience-btns">
                                    <a 
                                        href="{% url 'candidates:candidate-update-profile-info' exp.slug %}?data_type=experience" 
                                        class="candidate-profile-form-update"
                                    >
                                        Update
                                    </a>
                                    <a 
                                        href="{% url 'candidates:candidate-update-profile-info' exp.slug %}?data_type=experience" 
                                        class="candidate-profile-form-remove"
                                    >
                                        Remove
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock content %}

{% block js %}
    <script>
        const scrollTo = "{{ scroll_to }}"
        const element = scrollTo && document.querySelector(`#${scrollTo}`)
        
        element && element.scrollIntoView({behavior:'smooth'})
    </script>
{% endblock js %}

{% comment %} {% block footer %}{% endblock footer %} {% endcomment %}