{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Profile Update
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="profile-form-row">
        <div class="profile-form-container">
            <div class="form-navbar">
                <a href="
                    {% if next %}
                        {{ next }}
                    {% else %}
                        {% url 'candidates:landing-page' %}
                    {% endif %}" 
                    class="logo-container"
                >
                    <span class="logo-header">HireSpot</span>
                </a>
                <button class="form-navlinks-toggle-btn">
                    <i class="fas fa-bars form-show-navlinks"></i>
                    <i class="fas fa-times form-remove-navlinks remove-form-navlinks-toggle-btn-child"></i>
                </button>
                {% with request.resolver_match.url_name as url_name %}
                    <div class="form-navlinks">
                        <a class='navlink'href="{% url 'candidates:jobs' %}">
                            Jobs
                        </a>
                        <a class="
                            {% if url_name == 'profile-update' %}active-link{% endif %} navlink" 
                            href="{% url 'accounts:profile-update' %}"
                        >
                            Profile Update
                        </a>
                    </div>
                {% endwith %}
            </div>
            <div class="profile-form-header-text-container">
                <h2 class="profile-form-name">
                    Register Your Account
                </h2>
                <p class="profile-form-text">
                    Ready to take the next step in your career or 
                    find top talent for your team? 
                    Create an account to get started!
                </p>
            </div>
            <form class="profile-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if message %}
                    <div class="warning">
                        <p>{{ message }}</p>
                        <i class="fas fa-close profile-update-close-message"></i>
                    </div>
                {% endif %}
                <div class="profile-input-container">
                    {% for field in form %}
                        <div class="profile-input-row">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <button class="profile-form-update-btn" type="submit">
                    <span>Next</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>

{% endblock content %}

{% block footer %}{% endblock footer %}