{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="register-form-row">
        <div class="register-form-container">
            <div class="form-navbar">
                <a href="
                    {% if next %}
                        {{ next }}
                    {% else %}
                        {% url 'candidates:landing-page' %}
                    {% endif %}" 
                    class="logo-container"
                >
                    <span class="logo-header">HireSpot</span>
                </a>
                <button class="form-navlinks-toggle-btn">
                    <i class="fas fa-bars form-show-navlinks"></i>
                    <i class="fas fa-times form-remove-navlinks remove-form-navlinks-toggle-btn-child"></i>
                </button>
                {% with request.resolver_match.url_name as url_name %}
                    <div class="form-navlinks">
                        <a 
                            class='navlink'
                            href="{% if next %}{{ next }}{% else %}{% url 'candidates:landing-page' %}{% endif %}"
                        >
                            Home
                        </a>
                        <a class='navlink' href="{% url 'accounts:login' %}">Login</a>
                        <a class="
                            {% if url_name == 'register' %}active-link{% endif %} navlink" 
                            href="{% url 'accounts:register' %}"
                        >
                            Register
                        </a>
                    </div>
                {% endwith %}
            </div>
            <div class="register-form-header-text-container">
                <h2 class="register-form-name">
                    Register Your Account
                </h2>
                <p class="register-form-text">
                    Ready to advance your career or hire top talent? 
                    Create an account to start your journey.
                </p>
            </div>
            <form class="register-from" action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="register-form-sign-up-btn">
                    Register
                </button>
            </form>
            <div class="register-form-already-registered">
                <p class="">Already registered?</p>
                <a class="" href="{% url 'accounts:login' %}">
                    <span>Login</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}