{% extends "candidates/candidates_index.html" %}
{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="register-form-row">
        <div class="register-form-container">
            <a href="{% url 'candidates:landing-page' %}" class="logo-container">
                <span class="logo-header">HireSpot</span>
            </a>
            <h2 class="register-form-name">
                Create Your Account
            </h2>
            <div class="register-form-wrapper">
                <form class="register-from" action="" method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="register-form-sign-up-btn">
                        Sign Up
                    </button>
                </form>
            </div>
            <div class="register-form-already-registered">
                <p class="">Already have an account?</p>
                <a class="" href="{% url 'accounts:login' %}">
                    <span>Sign in</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            <div class="login-form-underline">
                <div></div>
                <span>OR</span>
                <div></div>
            </div>
            <a href="{% url "social:begin" "google-oauth2" %}" class="login-form-google-link">
                <img src="{% static "accounts/imgs/google.png" %}" alt="">
                <span>Continue with Google</span>
            </a>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}