{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "accounts/accounts.css" %}">
{% endblock css %}

{% block title %}
    Register
{% endblock title %}

{% block nav %}{% endblock nav %}

{% block content %}
    <div class="register-form-row">
        <div class="register-form-container">
            <a href='{% url "jobs:landing-page" %}' class="register-logo-container">
                <img src="{% static 'imgs/brand-logo.png' %}" alt="">
            </a>
            <form class="register-from" action="" method='POST'>
                <h2 class="register-form-name">
                    Register
                </h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="register-form-sign-up-btn">
                    Register
                </button>
            </form>
            <div class="register-form-already-registered">
                <p class="">Already registered?</p>
                <a class="" href="{% url 'accounts:login' %}">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}