
:root {
    /* green */
    --green-7:hsl(124, 74%, 5%);
    --green-10:hsl(122, 50%, 10%);
    --green-15:hsl(122, 50%, 15%);
    --green-20:hsl(122, 50%, 20%);
    --green-25:hsl(122, 50%, 25%);
    --green-28:hsl(122, 50%, 28%);
    --green-30:hsl(122, 92%, 30%);
    --green-35:hsl(122, 92%, 35%);
    --green-40:hsl(122, 92%, 40%);
    --green-50:hsl(122, 92%, 50%);
    --green-60:hsl(122, 92%, 60%);
    --green-70:hsl(122, 100%, 70%);
    --green-80:hsl(122, 100%, 80%);
    --green-85:hsl(122, 100%, 85%);
    --green-90:hsl(122, 100%, 90%);
    --green-95:hsl(122, 100%, 95%);
    
    /* black */
    --black-10:hsl(0, 0%, 10%);
    --black-15:hsl(0, 0%, 15%);
    --black-20:hsl(0, 0%, 20%);
    --black-25:hsl(0, 0%, 25%);
    --black-30:hsl(0, 0%, 30%);
    --black-35:hsl(0, 0%, 35%);
    --black-40:hsl(0, 0%, 40%);
    --black-45:hsl(0, 0%, 45%);
    --black-50:hsl(0, 0%, 50%);
    --black-60:hsl(0, 0%, 60%);
    --black-70:hsl(0, 0%, 70%);
    --black-75:hsl(0, 0%, 77%);
    --black-80:hsl(0, 0%, 80%);
    --black-85:hsl(0, 0%, 85%);
    --black-90:hsl(0, 0%, 90%);
    --black-95:hsl(0, 0%, 95%);

    /* Matching Gradient: lower the numer, darker*/
    --mg-dark-geen-1: hsl(122, 49%, 10%);
    --mg-light-green-2: hsl(164, 73%, 16%);
    --mg-blue-green-1: hsl(179, 100%, 21%);
    --mg-blue-green-2: hsl(189, 70%, 37%);
    --mg-blue-green-3: hsl(201, 61%, 60%);
    --mg-blue-green-4: hsl(215, 100%, 82%);
    
    /* success, warning, info, error messages */
    --success: var(--green-30);
    --error: hsl(16, 100%, 50%);
    --warning: hsl(38, 80%, 49%);
    --info: var(--black-40);

    /* CTA btn */
    --cta: #008a05;

    /* red blue accent */
    --accent: hsl(2, 100%, 95%);
    --focus: hsl(2, 100%, 75%);
    --accent-text: hsl(2, 100%, 60%);
}

::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    /* background: hsl(122, 100%, 98%); */
}

main {
    min-height: 90svh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none
}

label {
    text-transform: capitalize;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem !important;
    font-family: "Inter", sans-serif;
}

select {
    font-size: 1rem !important;
    font-family: "Inter", sans-serif;
}

textarea {
    resize: vertical;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

select:focus,
input:focus,
textarea:focus {
    outline: 3px solid var(--focus);
}

button {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

/* MESSAGES (message from backend:warning, error, success, info) */
.messages {
    position:absolute;
    z-index: 2;
    width: 90%;
    max-width: 1400px;
    top:70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.close-messages {
    display: none;
}

.message-container {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: space-between;
    column-gap: 2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 20px -13px var(--black-10);
}

.success {
    background: var(--success)
}

.warning {
    background: var(--warning)
}

.error {
    background: var(--error)
}

.info {
    background: var(--info);
}

.message-container > p {
    letter-spacing: 0.04rem;
    color: var(--black-90);
    font-size: 1.1rem;
    text-wrap: pretty;
}

.message-container > button {
    background: none;
    border: none;
    cursor: pointer;
}

.message-container > button > i {
    line-height: 1;
    font-size: 1.3rem;
    margin-top: 0.2rem;
    color: var(--black-90)
}

/* FORM NAVBAR */
.form-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.logo-container > 
.logo-header {
    font-size: 2rem;
    color: var(--green-35);
    font-weight: 700;
}

.form-navlinks-toggle-btn {
    background: none;
    border: none;
    font-size: 1.1rem;
    color: var(--black-20)
}

.form-navlinks {
    position: absolute;
    right: 0;
    top: -500%;
    z-index: 2;
    width: auto;
    
    display: grid;
    gap: 1.3rem;
    padding: 1.2rem;
    opacity: 0;
    border-radius: 8px;
    transition: opacity 200ms linear;
}

.show-form-navlinks {
    top: 40.23px;
    opacity: 1;
    background: var(--black-90);
}

.remove-form-navlinks-toggle-btn-child {
    display: none;
}

.form-navlinks > .navlink {
    color: var(--black-10);
    letter-spacing: 0.03rem;
}

.form-navlinks > .active-link {
    font-weight: 600;
    color: var(--green-40);
}

.form-navlinks > .navlink:hover {
    color: var(--green-40)
}

@media screen and (min-width: 500px) {
    .form-navlinks-toggle-btn {
        display: none;
    }

    .form-navlinks {
        position: initial;
        right: initial;
        top: initial;
        z-index: initial;
        width: intial;
        
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 0;
        opacity: 1;
        border-radius: 0;
        transition: initial;
        background: none;
    }
}

/* NAVBAR GLOBAL */
.nav-row {
    padding: 1rem 0;
    background: var(--green-7);
}

.mobile-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.mobile-brand-logo {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
    color: var(--green-35);
}

.mobile-navlinks-toggle-btns-container > button {
    border: none;
    background: none;
    color: var(--black-80);
    font-size: 1.4rem;
}

.hide-mobile-navlinks-toggle-btn {
    display: none;
}

.mobile-navlinks {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 99;

    display: grid;
    align-content: start;
    gap: 1.5rem;
    padding: 2rem 0;

    opacity: 0;
    transition: opacity 100ms linear;
    background: var(--green-20);
}

.show-mobile-navlinks {
    top: 60.8px;
    opacity: 1
}

.mobile-navlink-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--black-90);
    letter-spacing: 0.03rem;
}

.mobile-navlink-img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mobile-navlink-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.mobile-navlink {
    color: var(--black-90);
    letter-spacing: 0.03rem;
    text-align: center;
    font-size: 1.1rem;
}

.mobile-logout-btn {
    background: none;
    border: none;
}

.active-mobile-navlink {
    font-weight: 600;
    color: var(--green-40)
}

@media (hover) {
    .mobile-navlink:hover {
        color: var(--green-40)
    }
}

.lg-nav-bar {
    display: none;
}

.location-flag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.1rem;
}

@media screen and (min-width:870px) {
    .mobile-nav-bar {
        display: none;
    }

    .lg-nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        width: 90%;
        max-width: 1400px;
        margin: 0 auto
    }

    .brand-logo {
        font-size: 2rem;
        line-height: 1;
        font-weight: 600;
        color: var(--green-35);
    }

    .navlinks {
        display: flex;
        align-items: center;
        gap: 1.8rem;
    }

    /* navlink user container */
    .navlink-user-container {
        position: relative;
    }

    .navlink-user {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        color: var(--black-90);
        letter-spacing: 0.03rem;
    }

    .navlink-img-container {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .navlink-img-container > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .navlink-username {
        max-width: 90px;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    .navlink-chevron-down {
        font-size: 0.85rem;
    }

    .navlink-drop-down-link {
        position: absolute;
        z-index: 2;
        top: -2000%;
        right: 0;
        min-width: 150px;

        display: grid;
        align-content: start;
        gap: 1.3rem;
        padding: 1.2rem;
        border-radius: 8px;
        opacity: 0;
        transition: opacity 200ms linear;
    }

    .show-navlink-drop-down-link {
        top: 55px;
        opacity: 1;
        text-wrap: nowrap;
        background: var(--green-20);
    }

    .navlink-drop-down-link > .navlink {
        color: var(--black-90);
    }

    .navlink-drop-down-link > .active-link {
        font-weight: 600;
        color: var(--green-40);
    }
    /* end */


    .navlink {
        color: var(--black-90);
        letter-spacing: 0.03rem;
    }

    .logout-btn {
        background: none;
        border: none;
        text-align: start;
    }

    .active-link {
        font-weight: 600;
        color: var(--green-40);
    }

    .register-link {
        background: var(--cta);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        transition: background 100ms linear;
    }

    @media (hover) {
        .navlink-user:hover,
        .navlink:hover {
            color: var(--green-40)
        }

        .register-link:hover {
            background: var(--green-25);
            color: var(--black-90);
        }
    }
}

/* ABOUT */
.about-container {
    width: 90%;
    max-width: 700px;
    margin: 3rem auto;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.about-header {
    font-size: 2rem;
    color: var(--black-10);
    letter-spacing: 0.03rem;
}

.about-img-container > img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.about-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-20);
    font-size: 1.05rem;
}

.about-link {
    color: var(--green-30)
}

@media (hover) {
    .about-link:hover {
        text-decoration:underline;
        text-decoration-thickness: 2px;
    }
}

/* CONTACT */
.contact-container {
    width: 90%;
    max-width: 700px;
    margin: 3rem auto;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.contact-header {
    font-size: 2rem;
    color: var(--black-10);
    letter-spacing: 0.03rem;
}

.contact-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-20);
    font-size: 1.05rem;
    text-wrap: balance;
}

.contact-text > a {
    color: var(--green-30)
}

@media (hover) {
    .contact-text > a:hover {
        text-decoration:underline;
        text-decoration-thickness: 2px;
    }
}

.contact-form {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.contact-form-row {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.contact-form-row > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
}

.contact-form-row > input {
    letter-spacing: 0.03rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--black-80);
    color: var(--black-20)
}

.contact-form-row > textarea {
    letter-spacing: 0.03rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--black-80);
    color: var(--black-20);
    min-height: 50px;
}

.contact-form-submit-btn {
    padding: 0.9rem 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 100ms linear;
}

@media (hover) {
    .contact-form-submit-btn:hover {
        background: var(--green-40)
    }
}
    
/* FOOTER */
.footer-row {
    background: var(--green-7);
    padding: 2rem 0;
    padding-bottom: 0;
}

.footer-contents {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    gap: 3rem;
}

.footer-brand-content {
    display: grid;
    align-content: start;
    gap: 0.8rem;
}

.footer-brand-logo {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
    color: var(--green-35);
}

.footer-brand-text-body {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-85);
    font-size: 1.05rem;
    text-wrap: balance;
}

.footer-brand-text-body > strong {
    color: white;
}

.footer-quick-links {
    display: grid;
    align-content: start;
    gap: 0.8rem;
}

.footer-quick-links-header {
    color: white;
    letter-spacing: 0.03rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.footer-quick-link {
    color: var(--black-85);
    letter-spacing: 0.03rem;
    transition: color 100ms linear;
}

@media (hover) {
    .footer-quick-link:hover {
        color: var(--green-40);
    }
}

.active-footer-link {
    font-weight: 600;
    color: var(--green-40)
}

.footer-contact-form-container {
    display: grid;
    align-content: start;
    gap: 0.8rem;
}

.footer-contact-form-header {
    color: white;
    letter-spacing: 0.03rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.footer-contact-form-message-us-text-container {
    display: grid; 
    align-items: start;
    align-content: start;
    gap: 1rem
}

.footer-contact-form-message-us-text {
    color: var(--black-85);
    letter-spacing: 0.04rem;
    line-height: 1.4;
    max-width: 500px;
}

.toggle-footer-contact-form-btn {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    color: var(--green-35);
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 100ms linear;
}

@media (hover) {
    .toggle-footer-contact-form-btn:hover{
        border-bottom: 2px solid var(--green-35);
    }
}

.toggle-footer-contact-form-btn > i {
    line-height: 1;
    margin-top: 0.2rem;
}

.footer-contact-form {
    display: grid;
    align-content: start;
    align-items: start;
    gap: 1.5rem;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    height: 0;
    width: 0;
    
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    opacity: 0;
    transition: max-height 100ms linear;
}

.show-footer-contact-form {
    height: 100dvh;
    width: 100%;
    opacity: 1;
    background: var(--green-7);
    padding: 5rem 5%;
}

.show-footer-contact-form > 
.footer-brand-logo {
    margin-bottom:3rem;
    text-align: center;
}

.show-footer-contact-form > 
.footer-contact-form-header {
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1.4;
}

.show-footer-contact-form > 
.toggle-footer-contact-form-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-footer-contact-form > 
.toggle-footer-contact-form-btn-wrapper >
.toggle-footer-contact-form-btn {
    margin-top: 0.8rem;
    color: var(--black-50);
    border:none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 100ms linear;
}

@media (hover) {
    .show-footer-contact-form > 
    .toggle-footer-contact-form-btn-wrapper >
    .toggle-footer-contact-form-btn:hover{
        border-bottom: 2px solid var(--black-60);
    }
}

.show-footer-contact-form > * {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.footer-message-form-input-row,
.footer-message-form-textarea-row {
    display: grid;
    align-content: start;
    gap: 0.6rem;
}

.footer-message-form-input-row > label,
.footer-message-form-textarea-row > label {
    color: var(--black-80);
    letter-spacing: 0.03rem;
} 

.footer-message-form-email-input,
.footer-message-form-message-textarea {
    padding: 1rem;
    border-radius: 8px;
    letter-spacing: 0.04rem;
    border: 1px solid var(--black-80);
}

.footer-message-form-message-textarea {
    min-height: 150px;
}

.footer-form-submit-btn {
    padding: 1.1rem 2rem;
    border: none;
    background: var(--cta);
    color: white;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: background 100ms linear;
}

@media (hover) {
    .footer-form-submit-btn:hover {
        background: var(--green-20);
    }
}

.footer-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: 3rem 0;
    margin-bottom: 0rem;
}

.footer-social-link > i {
    font-size: 2rem;
}

.fa-linkedin,
.fa-github {
    color: white;
    transition: color 100ms linear;
}

@media (hover) {
    .fa-linkedin:hover,
    .fa-github:hover {
        color: var(--green-30)
    }
}

.footer-copy-right {
    color: var(--black-80);
    text-align: center;
    letter-spacing: 0.03rem;
    padding: 1.5rem 0;
    background: var(--green-7)
}


@media screen and (min-width: 740px) {
    .footer-row {
        padding: 2.5rem 0;
        padding-bottom: 0;
    }

    .footer-contents {
        column-gap: 4rem;
        row-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .footer-quick-links {
        justify-content: center;
    }
}

