{% extends "candidates/candidates_index.html" %}
{% load static %}


{% block title %}
    Contact
{% endblock title %}

{% block content %}
    <div class="contact-row">
        <section class="about-hero-container">
            <article class="about-hero-content">
                <h1 class="about-hero-header">Contact Us</h1>
                <p class="about-hero-subtext">
                    We’d love to hear from you! If you have any questions, 
                    feedback, or need assistance, please fill out the contact 
                    form below, and our team will get back to you as soon as possible. 
                    Alternatively, you can reach us at via email or simply calling us. 
                </p>
            </article>
        </section>
        <section class="contact-container">
            <div class="contact-form-email-phone">
                <div class="contact-form-email-container">
                    <div class="contact-form-email-icon">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Email</span>
                    </div>
                    <a href="mailto:info@hirespot.com">info@hirespot.com</a>
                </div>
                <div class="contact-form-phone-container">
                    <div class="contact-form-phone-icon">
                        <i class="fa-solid fa-phone"></i>
                        <span>Phone</span>
                    </div>
                    <a href="tel:+19163234568">+1 916-323-4568</a>
                </div>
            </div>
            <form class="contact-form" action="" method="POST">
                <h2 class="contact-form-header">Contact Form</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="contact-form-submit-btn" type="submit">Submit Message</button>
            </form>
        </section>
    </div>
{% endblock content %}
