{% load static %}

<div class="nav-row">

    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'employers:employer' %}" class="brand-logo">HireSpot</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="navlinks">
                <a href="{% url 'candidates:jobs' %}" class="navlink">Job Seeker</a>
                <a href="{% url 'employers:post-job' %}" class="navlink">Post a Job</a>
                <div class="navlink-user-container">
                    <div href="" class="navlink-user">
                        <div class="navlink-img-container">
                            {% if request.user.is_authenticated %}
                                <img src="{{ request.user.profile.get_avatar_url }}" alt="">
                            {% else %}
                                <img src="{% static 'imgs/default.png' %}" alt="">
                            {% endif %}
                        </div>
                        <span 
                            class="navlink-username" 
                            title="
                                {% if not request.user.is_authenticated %}
                                    Annonymous
                                {% else %}
                                    {{ request.user.username }}
                                 {% endif %}
                                "
                        >
                            {% if not request.user.is_authenticated %}
                                Annonymous
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}
                        </span>
                        <span class="navlink-chevron-down">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="navlink-drop-down-link">
                        {% with request.resolver_match.url_name as url_name %}
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'employers:employer-dashboard' %}" class="{% if url_name == 'employer-dashboard'%}active-link{% endif %} navlink">Dashboard</a>
                                <a href="{% url 'employers:employer-register' %}" class="navlink">Register Employer</a>
                            {% endif %}
                            <a href="{% url 'candidates:about' %}" class="{% if url_name == "about" %}active-link{% endif %} navlink">About</a>
                            <a href="{% url 'candidates:contact' %}" class="{% if url_name == "contact" %}active-link{% endif %} navlink">Contact</a>
                            {% if not request.user.is_authenticated %}
                                <a href="{% url 'accounts:login' %}?next=/employers/recruit/" class="navlink">Login</a>
                            {% else %}
                                <a href="" class="navlink">Profile</a>
                                <button class='navlink logout-btn'>Logout</button>
                            {% endif %}
                        {% endwith%}
                    </div>
                </div>
                {% if not request.user.is_authenticated %}
                    <a class='navlink register-link' href="{% url 'accounts:register' %}?next=/employers/recruit/">Register</a>
                {% endif %}
            </div>
           
        {% endwith %}
    </nav>

    <!-- Mobile nav bar -->

    <nav class="mobile-nav-bar">
        <div class="mobile-brand-container">
            <a href="{% url 'employers:employer' %}" class="mobile-brand-logo">HireSpot</a>
        </div>
        <div class="mobile-navlinks-toggle-btns-container">
            <button type="button" class="mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="mobile-navlinks-close-btn hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="mobile-navlinks">
                <div href="" class="mobile-navlink-user">
                    <div class="mobile-navlink-img-container">
                        {% if request.user.is_authenticated %}
                            <img src="{{ request.user.profile.get_avatar_url }}" alt="">
                        {% else %}
                            <img src="{% static 'imgs/default.png' %}" alt="">
                        {% endif %}
                    </div>
                    <span 
                        class="mobile-navlink-username" 
                        title="
                            {% if not request.user.is_authenticated %}
                                Annonymous
                            {% else %}
                                {{ request.user.username }}
                             {% endif %}
                            "
                    >
                        {% if not request.user.is_authenticated %}
                            Annonymous
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </span>
                </div>
                <a href="{% url 'candidates:jobs' %}" class="mobile-navlink">Job Seeker</a>
                <a href="{% url 'employers:post-job' %}" class="mobile-navlink">Post a Job</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'employers:employer-dashboard' %}" class="{% if url_name == 'employer-dashboard'%}active-mobile-navlink{% endif %} mobile-navlink">Dashboard</a>
                    <a href="{% url 'employers:employer-register' %}" class="mobile-navlink">Register Employer</a>
                {% endif %}
                <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:about' %}">About</a>
                <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'candidates:contact' %}">Contact</a>
                {% if request.user.is_authenticated %}
                    <a href="" class="mobile-navlink">Profile</a>
                    <button class="mobile-navlink mobile-logout-btn">Logout</button>
                {% else %}
                    <a class='mobile-navlink' href="{% url 'accounts:login' %}?next=/employers/recruit/">Login</a>
                    <a class='mobile-navlink' href="{% url 'accounts:register' %}?next=/employers/recruit/">Register</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

</div>