{% load static %}


<div class="footer-row">
    <div class="footer-contents">
        <div class="footer-content footer-brand-content">
            <a  href='{% url "candidates:landing-page" %}' class="footer-brand-logo">
                HireSpot
            </a>
            <p class="footer-brand-text-body" >
                At <strong>HireSpot</strong>, we aim to make hiring easier for everyone. 
                Our goal is to help businesses find the right people for 
                their teams and to assist job seekers in showcasing their skills. 
                With our simple platform, employers can quickly connect with qualified 
                candidates, while job seekers can easily apply for jobs that match their talents.
            </p>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="footer-content footer-quick-links">
                <h2 class="footer-quick-links-header">Quick Links</h2>
                {% if  not request.user.is_authenticated %}
                    <a href="{% url 'candidates:landing-page' %}" class="footer-quick-link">Home</a>
                {% endif %}
                <a href="{% url 'candidates:jobs' %}" class="{% if url_name == 'jobs' %}active-footer-link{% endif %} footer-quick-link">Jobs</a>
                {% if  not request.user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}" class="footer-quick-link">Job seeker</a>
                    <a href="{% url 'employers:employer' %}" class="footer-quick-link">Employer</a>
                {% endif %}
                <a href="{% url 'candidates:contact' %}" class="{% if url_name == 'contact' %}active-footer-link{% endif %} footer-quick-link">Contact</a>
                <a href="{% url 'candidates:about' %}" class="{% if url_name == 'about' %}active-footer-link{% endif %} footer-quick-link">About</a>
            </div>
        {% endwith %}
        <div class="footer-content footer-contact-form-container">
            <h2 class='footer-contact-form-header'>Message Us</h2>
            <div class="footer-contact-form-message-us-text-container">
                <p class="footer-contact-form-message-us-text">
                    Have a question or feedback? We truly value your 
                    concerns and suggestions, and we're here to assist 
                    you every step of the way.
                </p>
                <button class='toggle-footer-contact-form-btn' type='button'>
                    <span class='toggle-footer-contact-form-btn-message'>Click here to message us!</span>
                </button>
            </div>
            <form action="" method='POST' class="footer-contact-form">
                <a  href='{% url "candidates:landing-page" %}' class="footer-brand-logo">
                    HireSpot
                </a>
                <h2 class='footer-contact-form-header'>Message Us</h2>
                {% csrf_token %}
                <div class="footer-message-form-input-row">
                    <label for="email">Email</label>
                    <input 
                        required
                        id="email"
                        type="email" 
                        name='email'
                        placeholder="myemail@mail.com" 
                        class="footer-message-form-email-input" 
                    >
                </div>
                <div class="footer-message-form-textarea-row">
                    <label for="message">Message</label>
                    <textarea 
                        required id="message" 
                        name="message" 
                        placeholder="How can we help you?"
                        class="footer-message-form-message-textarea" 
                    ></textarea>
                </div>
                <button class="footer-form-submit-btn" type='submit'>Submit Message</button>
                <div class='toggle-footer-contact-form-btn-wrapper'>
                    <button class='toggle-footer-contact-form-btn toggle-footer-contact-form-btn-close' type='button'>
                        <span class='toggle-footer-contact-form-btn-message'>Click to close form</span>
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-social-links">
        <a href="https://www.linkedin.com/in/eric-anderson-a6b906214" target="_blank"  class="footer-social-link">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/shinhosuck/django_job_portal" target="_blank" class="footer-social-link">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="footer-copy-right">
        <p>&copy;2024 HireSpot Team</p>
    </div>
</div>