{% extends "index.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block nav %}
    {% include "landing_page_nav.html" %}
{% endblock nav %}

{% block content %}
    <div class="hero-row">
        <div class="hero-content-container">
            <div class="mobile-landing-page-hero-img-container">
                <img src="{% static 'imgs/hero.webp' %}" alt="">
                <div class="mobile-landing-page-hero-img-background-overlay"></div>
            </div>
            <div class="hero-text-container">
                <h1 class="hero-header">Land Your Dream Job Today!</h1>
                <p class="hero-text-body">
                    At <strong>HireSpot</strong>, we connect talented individuals with great companies, 
                    offer personalized matches, and provide robust search tools to help 
                    you find your next job opportunity.
                </p>
                <a class="find-your-dream-job-btn" href="{% url 'accounts:login' %}">Find Your Dream Job!</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
