<div class="nav-row">
    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'jobs:home' %}" class="brand-logo">HireSpot</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="navlinks">
                <a class='{% if url_name == "home" %}active-link{% endif %} navlink' href="{% url 'jobs:home' %}">Home</a>
                <a class='{% if url_name == "employer" %}active-link{% endif %} navlink' href="">Employer</a>
                <a class='{% if url_name == "about" %}active-link{% endif %} navlink' href="{% url 'jobs:about' %}">About</a>
                <a class='{% if url_name == "contact" %}active-link{% endif %} navlink' href="{% url 'jobs:contact' %}">Contact</a>
                {% if request.user.is_authenticated %}
                    <a class='navlink' href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                    <a class='navlink' href="{% url 'accounts:login' %}">Login</a>
                    <a class='navlink register-link' href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>
</div>