{% load static %}

<div class="nav-row">

    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'job_portal:landing-page' %}" class="brand-logo">HireSpot</a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="navlinks">
                {% if not request.user.is_authenticated %}
                    <a class='{% if url_name == "home" %}active-link{% endif %} navlink' href="{% url 'job_portal:landing-page' %}">Home</a>
                {% endif %}
                <a class='{% if url_name == "jobs" %}active-link{% endif %} navlink' href="{% url 'job_portal:jobs' %}">Jobs</a>
                <a class='{% if url_name == "about" %}active-link{% endif %} navlink' href="{% url 'job_portal:about' %}">About</a>
                <a class='{% if url_name == "contact" %}active-link{% endif %} navlink' href="{% url 'job_portal:contact' %}">Contact</a>
                {% if request.user.is_authenticated %}
                    {% comment %} <a class='navlink' href="{% url 'accounts:logout' %}">Logout</a> {% endcomment %}
                    <button class='navlink logout-btn'>Logout</button>
                {% else %}
                    <a class='navlink' href="{% url 'accounts:login' %}">Login</a>
                    <a class='navlink register-link' href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

    <!-- Mobile nav bar -->

    <nav class="mobile-nav-bar">
        <div class="mobile-brand-container">
            <a href="{% url 'job_portal:landing-page' %}" class="mobile-brand-logo">HireSpot</a>
        </div>
        <div class="mobile-navlinks-toggle-btns-container">
            <button type="button" class="mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="mobile-navlinks-close-btn hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% with request.resolver_match.url_name as url_name %}
            <div class="mobile-navlinks">
                {% if not request.user.is_authenticated %}
                    <a class='mobile-navlink' href="{% url 'job_portal:landing-page' %}">Home</a>
                {% endif %}
                <a class='{% if url_name == "jobs" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'job_portal:jobs' %}">Jobs</a>
                <a class='{% if url_name == "about" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'job_portal:about' %}">About</a>
                <a class='{% if url_name == "contact" %}active-mobile-navlink{% endif %} mobile-navlink' href="{% url 'job_portal:contact' %}">Contact</a>
                {% if request.user.is_authenticated %}
                    {% comment %} <a class='mobile-navlink' href="{% url 'accounts:logout' %}">Logout</a> {% endcomment %}
                    <button class="mobile-navlink mobile-logout-btn">Logout</button>
                {% else %}
                    <a class='mobile-navlink' href="{% url 'accounts:login' %}">Login</a>
                    <a class='mobile-navlink' href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>
        {% endwith %}
    </nav>

</div>