/* GLOBAL */
.errorlist {
    color: var(--error)
}

/* REGISTER */
.register-form-row {
    min-height: 100svh;
    display: grid;
    align-content: center;
    padding: 2rem 0;
}

.register-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.register-form-header-text-container {
    display: grid;
    align-content: start;
    text-align: center;
    gap: 0.8rem
}

.register-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.register-form-text {
    letter-spacing: 0.03rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    font-size: 1.1rem;
    margin: 0 auto;
    text-wrap: pretty;
}

.register-form-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.register-form-header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    color: var(--black-20)
}

.register-from {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.empty-input-row {
    display: none !important;
}

.register-input-row {
    display: grid;
    align-content: start;
    gap: 0.8rem;
}

.toggle-password-requirements {
    color: var(--black-40);
    font-size: 0.9rem;
}

.toggle-password-requirements > h4 {
    font-weight: 500;
}

.helptext,
.help-text-list {
    font-size: 0.9rem;
    color: var(--black-50);
    letter-spacing: 0.03rem;
    line-height: 1.4;
}

.password-help-text-list {
    display: none;
}

.help-text-list > li {
    list-style-type: disc;
    margin-left: 1rem;
}

.register-input-row > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.register-input-row > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 5px;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

.register-form-sign-up-btn {
    padding: 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 100ms linear;
}

@media (hover) {
    .register-form-sign-up-btn:hover {
        background: var(--green-40)
    }
}

.register-form-already-registered {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.register-form-already-registered > p {
    color: var(--black-20);
    letter-spacing: 0.03rem;
}

.register-form-already-registered > a {
    color: var(--green-30);
    letter-spacing: 0.03rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.register-form-already-registered > a > i {
    font-size: 0.9rem;
    line-height: 0;
}

@media (hover) {
    .register-form-already-registered > a:hover {
        color: var(--green-40)
    }
}

@media screen and (min-width: 700px) {
    .register-form-row {
        padding: 3rem 0;
    }

    .register-form-header-text-container {
       margin-top: 1rem;
    }
}


/* LOGIN*/
.login-form-row {
    min-height: 100svh;
    display: grid;
    align-content: start;
    padding: 2rem 0;
}

.login-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.login-form-header-text-container {
    display: grid;
    gap: 0.8rem;
    text-align: center;
}

.login-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.login-form-text {
    letter-spacing: 0.04rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    margin: 0 auto;
    font-size: 1.1rem;
    text-wrap: pretty;
}

.login-form-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.login-form-header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    color: var(--black-20)
}

.login-from {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.login-from > p {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.login-from > p > label {
    letter-spacing: 0.03rem;
    color: var(--black-10);
    font-weight: 500;
}

.login-from > p > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 5px;
    color: var(--black-30) !important;
    letter-spacing: 0.03rem;
}

.login-form-login-btn {
    padding: 0.9rem 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 100ms linear;
}

@media (hover) {
    .login-form-login-btn:hover {
        background: var(--green-40)
    }
}

.login-form-not-yet-registered {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.login-form-not-yet-registered > p {
    color: var(--black-10);
    letter-spacing: 0.03rem;
}

.login-form-not-yet-registered > a {
    color: var(--green-30);
    letter-spacing: 0.03rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

@media (hover) {
    .login-form-not-yet-registered > a:hover {
        color: var(--green-20);
    }
}

.login-form-not-yet-registered > a > i {
    font-size: 0.9rem;
    line-height: 0;
}

.login-form-underline {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    grid-template-columns: 1fr auto 1fr;
}

.login-form-underline > div {
    border: 1px solid var(--black-80)
}

.login-form-underline > span {
    color: var(--black-20)
}

.login-form-google-link {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    border: 1px solid var(--black-80);
    transition: background 100ms linear;
}

@media (hover) {
    .login-form-google-link:hover {
        background: var(--green-85)
    }
}

.login-form-google-link > img {
    width: 30px;
    height: auto;
}

.login-form-google-link > span {
    color: var(--black-10);
    font-size: 1rem;
    letter-spacing: 0.03rem;
}

@media screen and (min-width:700px) {
    .login-form-header-text-container {
        margin-top: 1rem;
    }
}

/* LOGOUT MODAL */
.logout-modal-container {
    position: absolute;
    z-index: 100;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    padding: 1.2rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 100ms linear;
}

.show-logout-modal {
    opacity: 1;
    top: 80px;
    background: white;
    box-shadow: 3px 3px 20px -13px var(--black-10);
}

.logout-modal-close-btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 0.5rem;
}

.logout-modal-close-btn {
  background: none;
  border: none;
  color: var(--black-90);
  font-size: 1.1rem;
  width: 27px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--black-70);
  background: var(--black-20)
}

.logout-modal-close-btn > i {
    margin-top: 0.2rem;
}

.lobout-modal-form {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.lobout-modal-form-message {
    text-align: center;
    text-wrap: pretty;
    letter-spacing: 0.04rem;
    line-height: 1.3;
    font-size: 1.6rem;
    color: var(--black-20)
}

.lobout-modal-form-btns {
    display: grid;
    align-content: start;
    gap: 0.5rem
}

.lobout-modal-form-logout-btn,
.lobout-modal-form-continue-browsing {
    color: var(--black-90);
    background: var(--green-30);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.lobout-modal-form-logout-btn {
    cursor: pointer;
    background: var(--black-30)
}

/* PROFILE FORM */
.profile-form-row {
    min-height: 100svh;
    display: grid;
    align-content: center;
    padding: 2rem 0;
}

.profile-form-container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    align-content: start;
    row-gap: 2rem;
}

.profile-form-header-text-container {
    display: grid;
    align-content: start;
    text-align: center;
    gap: 0.8rem
}

.profile-form-name {
    color: var(--black-20);
    font-size: 1.7rem;
}

.profile-form-text {
    letter-spacing: 0.03rem;
    line-height: 1.4;
    color: var(--black-30);
    max-width: 450px;
    font-size: 1.1rem;
    margin: 0 auto;
    text-wrap: pretty;
}

.profile-form-wrapper {
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.profile-form-header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    color: var(--black-20)
}

.profile-form {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.profile-image-input-container {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem !important;
    row-gap: 0.5rem;
    border: 1px solid var(--black-85);
    border-radius: 5px;
    padding: 0.6rem 1rem;
    overflow: hidden;
}

.label-image-input-wrapper {
    justify-self: start;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background: var(--black-30);
    color: white !important;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background 100ms linear;
}

#id_profile_image {
    display: none;
}

@media (hover) {
    .label-image-input-wrapper:hover{
        background: var(--black-10);
    }
}

.current-image-url {
    font-size: 0.95rem;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--green-30)
}

br {
    display: none;
}

.profile-input-container {
    display: grid;
    align-content: start;
    gap: 1.5rem;
} 

.profile-input-row {
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.profile-input-row > label {
    color: var(--black-10);
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.profile-input-row > select,
.profile-input-row > input {
    border: 1px solid var(--black-80);
    padding: 1rem;
    border-radius: 5px;
    color: var(--black-30);
    letter-spacing: 0.03rem;
}

.selected-profile-image {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black-30);
    overflow: hidden;
}

.profile-input-row > select {
    background: none;
    box-sizing: border-box;
    width: 100%;
}

.profile-input-row > select:focus {
    outline: 3px solid var(--green-70);
}

.profile-form-update-btn {
    padding: 1rem;
    border: none;
    background: var(--green-30);
    color: var(--black-90);
    border-radius: 5px;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 100ms linear;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.profile-form-update-btn > i {
    font-size: 1rem;
}

@media (hover) {
    .profile-form-update-btn:hover {
        background: var(--green-40)
    }
}

@media screen and (min-width: 700px) {
    .profile-form-row {
        padding: 3rem 0;
    }

    .profile-form-header-text-container {
       margin-top: 2rem;
    }
}

/* CANDIDATE PROFILE INFO */
.candidate-profile-info-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 0;

    display: grid;
    align-content: start;
    gap: 2rem;
}

.candidate-profile-row {
    display: grid;
    align-content: start;
    gap: 3rem;
}

.user-profile-image-name {
    display: grid;
    align-content: start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.profile-image-container {
    justify-self: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    text-align: center;
}

.profile-personal-info {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.candidate-profile-header {
    color: var(--black-10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.candidate-profile-header > a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--green-25)
}

@media (hover) {
    .candidate-profile-header > a:hover {
        color: var(--green-35);
    }
}

.profile-user-info-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}


.candidate-profile-experience-row,
.candidate-profile-education-row {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.candidate-profile-experiences,
.candidate-profile-educations {
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

.candidate-profile-experience,
.candidate-profile-education {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--black-80);
    background: white;
}

.profile-user-info-row > a,
.profile-user-info-row > p:last-child{
    color: var(--black-10);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .profile-user-info-row > a {
    color: var(--green-20)
} */

.profile-applied-jobs-container,
.profile-saved-jobs-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.profile-applied-jobs-container > a,
.profile-saved-jobs-container > a {
    color: var(--black-10);
    background: var(--black-90);
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (hover) {
    .profile-user-info-row > a:hover {
        color: var(--green-30)
    }
}

.profile-user-info-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.profile-user-info-row > i {
    color: var(--black-60);
    padding-right: 0.5rem;
    font-size: 1.2rem;
}

.profile-user-info-row > p:first-child {
    color: var(--black-50);
    font-weight: 500;
    text-wrap: nowrap;
}

.profile-qualification-skill {
    background: var(--black-90);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--black-10);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.candidate-profile-form-update-mobile {
    padding: 0.6rem 1.5rem;
    color: white;
    border-radius: 5px;
    justify-self: end;
    background: var(--green-30);
    color: white;
}

.candidate-profile-form-update {
    justify-self: end;
    color: var(--green-30);
    display: none;
    text-wrap: nowrap;
}

@media (hover) {
    .candidate-profile-form-update:hover {
        color: var(--green-20);
    }

}

@media screen and (min-width: 600px) {
    .candidate-profile-form-update-mobile {
        display: none;
    }

    .candidate-profile-form-update {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    .candidate-profile-info-container {
        padding: 3rem 0;
    }
}