{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'jobs/jobs.css' %}">
{% endblock css %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <div class="about-row">
        <div class="about-container">
            <h1 class="about-header">About HireSpot</h1>
            <div class="about-img-container">
                <img src="{% static 'jobs/imgs/about.webp' %}" alt="">
            </div>
            <p class="about-text">
                At <a class="about-link" href="{% url "jobs:home" %}"><strong>HireSpot</strong></a>, we aim to make hiring easier for everyone. 
                Our goal is to help businesses find the right people for 
                their teams and to assist job seekers in showcasing their skills. 
                With our simple platform, employers can quickly connect with 
                qualified candidates, while job seekers can easily apply for 
                jobs that match their talents. Our team is dedicated to 
                providing a smooth experience for both sides, ensuring 
                that everyone can navigate the job market with confidence.
            </p>
            <p class="about-text">
                We believe that hiring should be fair and inclusive. 
                That’s why <a class="about-link" href="{% url "jobs:home" %}"><strong>HireSpot</strong></a> is not just about filling positions; 
                it’s about building strong connections between companies 
                and candidates. We know that every hiring choice matters, 
                and we’re here to support you in finding the perfect fit. 
                Join us as we work together to change the way people 
                find jobs and build successful careers.
            </p>
        </div>
    </div>
{% endblock content %}