{% load static %}

<div class="landing-page-nav-row">
    <nav class="landing-page-lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'jobs:landing-page' %}" class="landing-page-brand-logo">HireSpot</a>
        </div>
        <div class="navlinks">
            <a class='landing-page-navlink' href="{% url 'jobs:jobs' %}">Jobs</a>
            <a class='landing-page-navlink' href="{% url 'accounts:login' %}">Job seeker</a>
            <a class='landing-page-navlink' href="">Employer</a>
            <a class='landing-page-navlink' href="{% url 'jobs:about' %}">About</a>
            <a class='landing-page-navlink' href="{% url 'jobs:contact' %}">Contact</a>
        </div>
    </nav>

    <!-- Mobile nav bar -->

    <nav class="landing-page-mobile-nav-bar">
        <div class="landing-page-mobile-brand-container">
            <a href="{% url 'jobs:landing-page' %}" class="landing-page-mobile-brand-logo">HireSpot</a>
        </div>
        <div class="landing-page-mobile-navlinks-toggle-btns-container">
            <button type="button" class="landing-page-mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="landing-page-mobile-navlinks-close-btn landing-page-hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="landing-page-mobile-navlinks">
            <a class='landing-page-mobile-navlink' href="{% url 'jobs:jobs' %}">Jobs</a>
            <a class='landing-page-mobile-navlink' href="{% url 'accounts:login' %}">Job seeker</a>
            <a class='landing-page-mobile-navlink' href="">Employer</a>
            <a class='landing-page-mobile-navlink' href="{% url 'jobs:about' %}">About</a>
            <a class='landing-page-mobile-navlink' href="{% url 'jobs:contact' %}">Contact</a>
        </div>
    </nav>
</div>