<div class="landing-page-nav-row">
    <nav class="lg-nav-bar">
        <div class="brand-container">
            <a href="{% url 'jobs:landing-page' %}" class="brand-logo">HireSpot</a>
        </div>
        <div class="navlinks">
            <a class='navlink' href="{% url 'jobs:jobs' %}">Just Explore Jobs</a>
            <a class='navlink' href="{% url 'accounts:login' %}">Job seeker</a>
            <a class='navlink' href="">Employer</a>
        </div>
    </nav>

    <!-- Mobile nav bar -->

    <nav class="mobile-nav-bar">
        <div class="mobile-brand-container">
            <a href="{% url 'jobs:landing-page' %}" class="mobile-brand-logo">HireSpot</a>
        </div>
        <div class="mobile-navlinks-toggle-btns-container">
            <button type="button" class="mobile-navlinks-open-btn">
                <i class="fas fa-bars"></i>
            </button>
            <button type="button" class="mobile-navlinks-close-btn hide-mobile-navlinks-toggle-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="mobile-navlinks">
            <a class='mobile-navlink' href="{% url 'jobs:jobs' %}">Just Explore Jobs</a>
            <a class='mobile-navlink' href="{% url 'accounts:login' %}">Job seeker</a>
            <a class='mobile-navlink' href="">Employer</a>
        </div>
    </nav>
</div>